[2022-03-04 04:00] tobegit3hub commented on #1376
The input schema slices are the same. But encoder/decoder will code the rows with multiple slices and InternalRow will code as OpenMLDB rows with one slice.

[2022-03-04 06:08] vagetablechicken opened #1377 "taskmanager: compare int with null"
[code]

[2022-03-04 06:22] #1217 closed, assigned to zhanghaohit, nautaa

[2022-03-04 06:47] lumianph commented on #1377
is this an urgent bug?

[2022-03-04 06:50] wuteek commented on #1288
Hello, I'm interested in working on this! May I be assigned to this please?

[2022-03-04 07:13] dl239 commented on #1288
@wuteek thank you for your contribution

[2022-03-04 08:15] #1288 closed, assigned to nobody

[2022-03-04 08:17] wuteek commented on #1377
Hello, I added a PR for this one as well if you could check it out for me (:

[2022-03-04 09:17] lumianph commented on #1377
thank you for your contribution!!

[2022-03-04 09:57] #825 closed, assigned to nobody

[2022-03-04 15:29] lumianph commented on #1375
@aceforeverd you may take a look?

[2022-03-04 19:56] wuteek commented on #1377
How am i able to pass the coverage check?

[2022-03-05 10:03] tobegit3hub opened #1382 "Compute with null get incorrect result after last join"
Now we test SQL in offline and get the incorrect result.

Here is the data to test.

[code]

If we select the data after join with the following, we will get the expected result.

[code]

[code]

If we select the data after join with the following, we will get the unexpected result which changes the null value to undefined.

[code]

[code]

[2022-03-05 10:05] tobegit3hub commented on #1382
One of the issue is that we enable UnsafeRowOpt which uses SingleSliceRowFormat but encode the input and output with two slices.

Resolved by these code in openmldb-batch.

[code]

[2022-03-05 10:06] tobegit3hub commented on #1382
If we enable `spark.conf.set("spark.openmldb.opt.unsaferow.project", true)`, the second result is always like this which changes the `null` value to `0`.

[code]

[2022-03-05 11:09] tobegit3hub commented on #1382
The last join node output dataframe is expected.

[code]

But the following ProjectNode dataframe treat `col2` as `0` or `undefined value` and `0 + 1000`  to get `1000`.

[code]

If we create the DataProvide node like the first output DataFame.

[code]

Then use RowProject to select columns will get expected `null` and `null + 1000` will get null.

[code]

[2022-03-05 13:28] aceforeverd opened #1383 "refactor `sql_cmd_test` & `mini_cluster`"
the overall structure of `sql_cmd_test` & `mini_cluster` is a mess, mix of global variables and reference over different test case.

It's hard to maintain and add new test case easily

[2022-03-05 18:01] wuteek commented on #1377
Hey there! I updated the requested changes for my PR. Just wondering when someone can get back to me and check it (:

[2022-03-06 08:01] #1377 closed, assigned to nobody

[2022-03-06 08:26] zhanghaohit opened #1385 "duplicate static library link"
## Expected Behavior
static lib should be linked only one time.

## Current Behavior
Some static libs are linked multiple times.
in [`src/sdk/CMakeLists.txt`](https://github.com/4paradigm/OpenMLDB/blob/2f85d12cd8dadd3a1ec822e1f591632341f3b23f/src/sdk/CMakeLists.txt#L52)

`set(SDK_LIBS openmldb_sdk openmldb_catalog client zk_client schema openmldb_flags openmldb_codec openmldb_proto base hybridse_s

[2022-03-06 08:51] aceforeverd commented on #1385
So it's runtime fault not link time? What the error will be like? E.g.

[2022-03-06 09:22] aceforeverd commented on #1385
See if similar with #752, it only happen in Release profile

[2022-03-07 01:15] zhanghaohit commented on #1385
Yes. It is runtime fault. The error message is not very helpful:
[code]

The environment can be see here: https://github.com/4paradigm/OpenMLDB/runs/5425348767?check_suite_focus=true

[2022-03-07 01:18] zhanghaohit commented on #1385
`Release profile` you mean
-DCMAKE_BUILD_TYPE=RelWithDebInfo?

These two issues may be related.  In #752, only moving the function definition to the cc files will help?

[2022-03-07 06:07] TheFu527 commented on #1329
I would like to help.

[2022-03-07 06:45] vagetablechicken commented on #1329
👍  If you need help, just ask for it.

[2022-03-07 07:01] #1373 closed, assigned to nobody

[2022-03-07 07:38] aceforeverd commented on #1385
it's `-DCMAKE_BUILD_TYPE=Release`, in #752 compile will fail in Release profile, since our workflows do not run on Release, there might errors we don't found yet. As @vagetablechicken said at https://github.com/4paradigm/OpenMLDB/issues/748#issuecomment-973944703

But this issue occur on runtime, more wired

[2022-03-07 07:58] aceforeverd commented on #1375
https://github.com/scoverage/scoverage-maven-plugin/issues/38

[2022-03-07 08:08] HongHuangNeu opened #1387 "Exclude the current row in window aggregation"
**Is your feature request related to a problem? Please describe.**
In time window aggregation, we would like to to have support for us to exclude the current row in aggregation. This is useful because in some cases, the current row only serves as a pivot to offer timestamps to identify a certain event. Any other  data of this row is not relevant for the aggregation.

**Describe the solution you'd

[2022-03-07 08:08] aceforeverd commented on #1375
coverage fail start by d5573ef51a8f888b9fd34adcb877eb96d7f1e764, but I don't understand why #1343 will fail coverage

[2022-03-07 08:35] HongHuangNeu opened #1388 "Partial parameter binding in request mode"
**Is your feature request related to a problem? Please describe.**
According to https://docs.openmldb.ai/quickstart/python_sdk#3.6-zhi-hang-sql-qing-qiu-shi-cha-xun
to perform query in request mode, we have to assign values to all columns of the table. This is very inconvenient when we only care about some of the columns, because we need to know all column names of the table in advance.

**Describ

[2022-03-07 08:50] kitty-eu-org opened #1389 "python sdk executemany not work"
### python sdk executemany not work
When I run executemany with python sdk openmldb and sqlachemy,
it raises error: "Unsupported in OpenMLDB",
but I may need to bulk insert data into openmldb
### Anything else
No response
### Are you willing to submit a PR?
 Yes I am willing to submit a PR!

[2022-03-07 09:04] vagetablechicken commented on #1200
I've got this error too.  Just in python3.9, it seems like this error does not only in ipython or notebook.

[2022-03-07 09:49] vagetablechicken commented on #1375
Have you tested the version before d5573ef?

[2022-03-08 02:01] lumianph commented on #1382
this is the bug from sql engine, or from the unsafe-row optimization?

[2022-03-08 02:03] lumianph commented on #1383
who is the owner of those code?

[2022-03-08 02:25] #1375 closed, assigned to tobegit3hub, aceforeverd

[2022-03-08 02:39] dl239 opened #1393 "Support c UDF"
users can load  functions from c dynamic lib to OpenMLDB.
- write c functions and compile to dynamic lib
- execute `CREATE FUNCTION ...` SQL statement to load function
- use udf functions in `SELECT` statement

[2022-03-08 02:40] dl239 commented on #1393
![](https://github.trello.services/images/mini-trello-icon.png) [C UDF support](https://trello.com/c/53uaUvgk/7-c-udf-support)

[2022-03-08 03:03] vagetablechicken commented on #1371
Ref https://numpy.org/doc/stable/reference/generated/numpy.percentile.html
We should make an accurate definition.
`Given a vector V of length N, the q-th percentile of V is the value q/100 of the way from the minimum to the maximum in a sorted copy of V.`
If q/100*N is not a int, we select the lower/higher/nearest one? Check it about `numpy.percentile` arg `method`.

[2022-03-08 03:11] vagetablechicken commented on #1387
`EXCLUDE CURRENT_ROW` may be better. And we need to modify `zetasql::ASTWindowSpecification` to support it.

[2022-03-08 03:24] vagetablechicken commented on #1388
Assign null is easy to impl. But assign 0 is unusual.

The request row is json format, so if c1-c6 and you want to write c3 only , {"c3":"123"} is ok.
Then we check the non-value columns.
If the col is nullable, we set it to null, and if the col is not nullable, set it to 0?

[2022-03-08 03:34] vagetablechicken commented on #1389
👍  If you need help, just ask for it.

[2022-03-08 03:47] vagetablechicken commented on #1200
One more error when running python on mac:

[code]

[2022-03-08 05:47] Leowner opened #1394 "Wrong result in disktable with ts_col's id greater than 255"
In Disktable, `uint8_t` is used to pass ts_col's id to `combineKey` to build up to the `pk`. Thus, if ts_col's id is greater than 255, e.g. `x = 300`. It'll be regarded as `300 % 256 = 44`. So, if you create a table with 2 pk columns and 298 ts columns. Set 2 indexes for ts_col 44 and ts_col 300. Put 100 lines in it. Use TraverseIterator to count, you'll get 200 instead.

[2022-03-08 07:02] lumianph commented on #1371
@changgu2012 can you check whether the definition meets your requirement?

[2022-03-08 08:12] cswjd commented on #1327
I would like to help

[2022-03-08 08:18] tobegit3hub commented on #1389
Thanks and any contribution is welcome. @HuilinWu2 may help and provide some guide to support `executemany` API.

[2022-03-08 08:30] kitty-eu-org commented on #1389
thanks, I would be very grateful if you could provide relevant documentation

[2022-03-08 09:08] HuilinWu2 commented on #1389
Thanks for the issue :)

FYI.
* You can find the raw Python DBAPI under the directory `OpenMLDB/python/openmldb/dbapi/dbapi.py`.
* You will find that we call the functions from C library in `OpenMLDB/python/openmldb/sdk/sdk.py` and wrap them into Python APIs, that are used in `dbapi.py`.
* Then, you will find the C functions finally in `OpenMLDB/src/sdk/sql_cluster_router.h` and there implementati

[2022-03-08 09:27] #1349 closed, assigned to HuilinWu2

[2022-03-08 09:38] #989 closed, assigned to aceforeverd

[2022-03-08 16:04] Manny-op commented on #1327
I would like to help contribute.

[2022-03-09 01:53] HuilinWu2 commented on #1349
![](https://github.trello.services/images/mini-trello-icon.png) [Improve functionality of Python SDK](https://trello.com/c/xlXZPfTf/20-improve-functionality-of-python-sdk)

[2022-03-09 02:41] aceforeverd commented on #1335
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-P1](https://trello.com/c/yMBAuhYq/22-bugfix-p1)

[2022-03-09 02:44] aceforeverd commented on #1292
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-09 02:44] aceforeverd commented on #1383
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-P1](https://trello.com/c/yMBAuhYq/22-bugfix-p1)

[2022-03-09 02:46] aceforeverd commented on #1383
I'll rewrite a little in #1380 , but somebody may have a more detailed recheck

[2022-03-09 02:48] aceforeverd commented on #1375
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-09 02:49] aceforeverd commented on #989
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-09 02:51] aceforeverd commented on #1361
![](https://github.trello.services/images/mini-trello-icon.png) [online monitoring](https://trello.com/c/arsSP4R6/1-online-monitoring)

[2022-03-09 02:54] aceforeverd commented on #1275
resolved #1231

[2022-03-09 02:54] #1275 closed, assigned to dl239

[2022-03-09 04:00] tobegit3hub opened #1397 "LLVM JIT function would support append_slice and encode columns with input row"
Now we support parameter append slice to append input row columns to window output columns. We need to support generate single row with append row columns at one time.

<img width="860" alt="wecom-temp-b41c79aab410b2867837c0bbb2ad2104" src="https://user-images.githubusercontent.com/2715000/157370140-065e1d4f-b87c-486c-8439-9605d3e4f5e0.png">

[2022-03-09 04:00] tobegit3hub commented on #1397
UnsafeRowOpt relies on this feature to get SingleSliceRowFormat and do not need to append columns in offline.

[2022-03-09 04:05] jingchen2222 commented on #1397
1. We can add a bool filed `need_append_input` into RowFnLetIRBuilder to enable/disable append an input.
2. RowFnLetIRBuilder.need_append_input can be set as false by default and can be set from PhysicalWindowProjectNode codegen logic
3. Status EncodeBuf(...) support Encode with appending input_row.

[2022-03-09 04:09] aceforeverd commented on #1295
we'd like to keep consistent with spark's `max_by`:
[code]

[2022-03-09 04:22] lumianph opened #1399 "Kafka connector for online data"
A Kafka connector to import data streams into the database at real-time.

[2022-03-09 06:26] tobegit3hub opened #1400 "Support batch request for Python SDK"
Batch request is supported in Java SDK and API Server. We should support in Python SDK.

[2022-03-09 06:29] #1361 closed, assigned to aceforeverd

[2022-03-09 11:16] vagetablechicken opened #1405 "bug: openmldb-batch LoadDataPlan autoLoad should only auto-parse csv, do not throw exception"

[2022-03-10 00:07] lumianph opened #1406 "docs: simplify the templates for PR and issues"
Currently the template is a bit complicate, which is not friendly to new contributors.

[2022-03-10 01:12] vagetablechicken opened #1407 "batch: replace the deprecated registerTempTable() to reslove the compile warning"
[code]

You can reproduce the issue by compiling java modules with `mvn clean package`.

[2022-03-10 01:15] vagetablechicken opened #1408 "batch: compile warning that check a long for null"
[code]

You can reproduce the issue by compiling java modules with `mvn clean package`.

[2022-03-10 01:21] #1327 closed, assigned to nobody

[2022-03-10 01:32] dl239 opened #1409 "Rename `fedb` to `OpenMLDB` in some files"
Rename `fedb` to `OpenMLDB` in the following files:
- src/sdk/sql_sdk_base_test.cc  line 237
- hybridse/tools/documentation/c++_api/SUMMARY.md.tmpl line 10
- hybridse/tools/documentation/java_api/SUMMARY.md.tmpl line 10
- hybridse/tools/documentation/udf_doxygen/SUMMARY.md.tmpl  line 10

[2022-03-10 01:44] dl239 opened #1410 "Add `return` after the `switch` statement"
![WX20220310-093747](https://user-images.githubusercontent.com/6183996/157570060-8ab9c053-ce1d-472d-97bf-c42d33024300.png)

It needs to add `return` after the `switch` statement in `ShadowCopy` function. Please log error message such as 'Unsupported Data type' and return nullptr;

[2022-03-10 02:06] dl239 opened #1411 "Remove `PZFPGA_ENABLE` macro in `cmd/openmldb.cc`"
`PZFPGA_ENABLE` is unused currently, we should remove it form `cmd/openmldb.cc`.

[2022-03-10 02:34] vagetablechicken opened #1412 "Get table row count of online table"
Users may try `select * from t1;` to get the count of table `t1`. But we may truncate the scan response in tablet server(by `FLAGS_scan_max_bytes_size`).
So we should:
1. add `preview` or other cmd to get the count(sum of TableInfo), note that the count may be not accurate and why.
2. add doc about `select *` does not work well if table is big.

[2022-03-10 05:49] cvsschaitanya commented on #1410
How to reproduce the error?

[2022-03-10 06:10] tobegit3hub commented on #1376
Resolved by https://github.com/4paradigm/OpenMLDB/pull/1381 .

[2022-03-10 06:28] tobegit3hub opened #1413 "Fail to setLong when JoinedRow within JoinedRow"
There are some integration tests fail when using UnsafeRowOpt for complex SQL.

![Screen Shot 2022-03-10 at 12 45 56 PM](https://user-images.githubusercontent.com/2715000/157602412-2698dba8-9076-46f1-92bc-3ae78a1d1007.png)

[2022-03-10 07:37] dl239 commented on #1410
@cvsschaitanya  this is a compiling warning, please refer [compile doc](https://github.com/4paradigm/OpenMLDB/blob/main/docs/en/compile.md)

[2022-03-10 08:23] prashantpaidi commented on #1411
Can I work on this?

[2022-03-10 08:36] dl239 commented on #1411
of course, we are looking forward your pr. thank you @prashantpaidi

[2022-03-10 09:24] aceforeverd opened #1416 "feat(api server): support show api servers"
the api server's register info is not available from nameserver, this make it not possible to query api server info from sdk or command line, like  SQL `SHOW COMPONENTS`

enhance #1232

To support show api servers:

1. in clustered mode: those info can be stored directly in zk, E.g `$root_path/apiservers`
   - nameserver hold a cache set of all api servers, so it is as simple as query a RPC method

[2022-03-10 09:34] aceforeverd opened #1417 "feat(task manager): register info in zk"
currently only leader taskmanager registerd in zk. For monitoring, we want query all taskmanager nodes from zk, the same way as nameserver.

Enhance #1232

Impl:
- construct zk path `${zk_root}/taskmanager` as list

[2022-03-10 10:51] #1295 closed, assigned to jingchen2222, aceforeverd

[2022-03-10 11:14] shiyoubun commented on #1409
I would like to help

[2022-03-10 13:06] #1411 closed, assigned to nobody

[2022-03-10 15:38] #1206 closed, assigned to zhanghaohit

[2022-03-10 15:49] zhanghaohit opened #1419 "DistributedIterator"
`DistributedIterator` can be used to iterate over the table that is partitioned into multiple tablet servers.

This can be used to:
- replace the SQLRouter in the tablet server.
- support online batch query

**Describe the solution you'd like**
An iterator interface to scan all the data in a distributed table.

[2022-03-11 00:15] jingchen2222 commented on #1207
How do you deal with the merged windows? Check https://github.com/4paradigm/OpenMLDB/blob/release/0.4.0/hybridse/src/plan/planner.cc#L919 for more details about window merge.

[code]
The SQL script above aggregates features over 3 windows. These windows are overlapped with each other. So basically, we can regard them as a sub-window of the same big window (30 days window) so that the logical plan

[2022-03-11 05:51] vagetablechicken opened #1421 "batch: load parquet file shouldn't try to parse timestamp format"

[2022-03-11 06:41] wuyou10206 opened #1423 "The SDK insert of version 042 is successful, and the data is inserted online"
Issue tracker is **ONLY** used for reporting bugs. New features should be discussed on our discussion

## Expected Behavior
Consistent with the command line, error messages should be prompted. Offline insertion is not supported

## Current Behavior
The SDK is in offline mode by default, but it is successfully inserted and inserted into the online table

[2022-03-11 06:53] dl239 opened #1424 "`Insert` and `Select` execute failed on standalone mode"
`Insert` and `Select` execute failed on standalone mode.
![WX20220311-162130](https://user-images.githubusercontent.com/6183996/157829591-86123edd-e24a-426d-b6d5-13ae766261c8.png)

[2022-03-11 06:56] #1232 closed, assigned to dl239, aceforeverd

[2022-03-11 07:31] #1409 closed, assigned to nobody

[2022-03-11 08:13] dl239 commented on #1423
`execute_mode` has no impact on sdk in 0.4.2 and can be set only by `CLI`

[2022-03-11 08:14] dl239 commented on #1424
branch-0.4 will be fixed in #1426

[2022-03-11 10:04] cswjd commented on #1329
I would like to help.

[2022-03-11 11:08] dl239 commented on #1419
Both `DistributedIterator`  and `FullTableIterator` are needed.
#1350

[2022-03-11 11:53] dl239 opened #1430 "Add `RequestPareparedStatement` test"

[2022-03-12 02:28] #1424 closed, assigned to dl239

[2022-03-12 06:25] #1421 closed, assigned to nobody

[2022-03-14 01:51] tobegit3hub opened #1434 "Use custom JoinedRow to support setLong with UnsafeRow"
We should implement the new custom JoinedRow for UnsafeRowOpt.

[2022-03-14 01:51] tobegit3hub commented on #1413
Related to https://github.com/4paradigm/OpenMLDB/issues/1434 .

[2022-03-14 02:20] HuilinWu2 commented on #1400
![](https://github.trello.services/images/mini-trello-icon.png) [Improve functionality of Python SDK](https://trello.com/c/xlXZPfTf/20-improve-functionality-of-python-sdk)

[2022-03-14 02:22] HuilinWu2 commented on #1351
![](https://github.trello.services/images/mini-trello-icon.png) [Improve functionality of Python SDK](https://trello.com/c/xlXZPfTf/20-improve-functionality-of-python-sdk)

[2022-03-14 02:27] aceforeverd commented on #1374
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-14 02:27] dl239 commented on #1271
#1341 merged to branch-0.4

[2022-03-14 02:28] aceforeverd commented on #1356
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-14 02:39] aceforeverd commented on #1416
![](https://github.trello.services/images/mini-trello-icon.png) [online monitoring](https://trello.com/c/arsSP4R6/1-online-monitoring)

[2022-03-14 02:39] aceforeverd commented on #1417
![](https://github.trello.services/images/mini-trello-icon.png) [online monitoring](https://trello.com/c/arsSP4R6/1-online-monitoring)

[2022-03-14 02:52] vagetablechicken opened #1435 "Add pulsar connector"
We only need to add the sink, not the source. Write to online storage.
According to  https://pulsar.apache.org/docs/en/io-develop/#sink , we should impl two methods, the schema, and package this sink connector.

Another way is to support jdbc, so we can use [JDBC sink connector](https://pulsar.apache.org/docs/en/io-jdbc-sink/), just need a config file. But we haven't support jdbc now, so we need t

[2022-03-14 02:52] vagetablechicken commented on #1435
![](https://github.trello.services/images/mini-trello-icon.png) [Apache Pulsar connector](https://trello.com/c/RFPkvEzM/42-apache-pulsar-connector)

[2022-03-14 03:11] HuilinWu2 commented on #1389
![](https://github.trello.services/images/mini-trello-icon.png) [Improve functionality of Python SDK](https://trello.com/c/xlXZPfTf/20-improve-functionality-of-python-sdk)

[2022-03-14 03:12] vagetablechicken opened #1436 "Support sync rpc impl in taskmanager"
Taskmanager's RPC is async, it will submit the job, but won't wait for finishing.
We should support sync rpc too. (Not the rpc layer, just wait for job finishing)

Solution:
set session variable
all taskmanager request add a field: `bool is_sync`, read this field from session variable.
in taskmanager, submit the job, then loop wait the job finished or .. ref `FINAL_STATE`.

[2022-03-14 03:52] vagetablechicken commented on #1435
- [x] how to use this connector, detail doc -> rfc

[2022-03-14 04:00] vagetablechicken commented on #1436
But the job state is modified by spark(by SparkJobListener). The state will be `finished` once when the job is not finished.
https://github.com/4paradigm/OpenMLDB/issues/1104#issuecomment-1046538994

So we need to wait longer to work around. Currently, when we get `finished` state, we will wait 2-3s then try to get the state again. Then return the last state.

[2022-03-14 06:16] #1329 closed, assigned to nobody

[2022-03-14 07:37] cswjd commented on #1321
I would like to help.

[2022-03-14 08:22] TheFu527 commented on #1410
I would like to help.

[2022-03-14 08:37] Leowner opened #1438 "Some functions in tablet_impl and nameserver_impl only support memtable now"
[code]

[2022-03-14 09:17] vagetablechicken commented on #1137
link to #1436

[2022-03-14 11:04] vagetablechicken opened #1441 "docker: outside can't access openmldb server in container"
1. docs: how to publish the  ports in container  when using `docker run`
2. config: if other hosts want to  access server in container, default endpoint ip is 127.0.0.1, can't do that. Maybe we should convert all to 0.0.0.0

[2022-03-14 14:09] aceforeverd commented on #1441
that what #1032 comes

[2022-03-14 18:29] jingchen2222 opened #1444 "Bug: AllStar expression fails to be an simple expression"
Issue tracker is **ONLY** used for reporting bugs. New features should be discussed on our discussion

Expressions like ColumnReference expression, const value expression can be regarded as simple expressions.
Thus, Projects only contain **simple** expressions that can be transformed into SimpleProject. OpenMLDB has special rules and an Optimization Pass for a simple project.

However, we are seei

[2022-03-14 18:29] jingchen2222 commented on #1444
This issue will close issue #749

[2022-03-15 03:01] cswjd commented on #1322
I would like to help

[2022-03-15 04:05] #749 closed, assigned to jingchen2222

[2022-03-15 04:05] #1444 closed, assigned to jingchen2222

[2022-03-15 04:27] aceforeverd opened #1445 "sql engine: recheck `PhysicalConstProjectNode::InitSchema`"
`PhysicalConstProjectNode::InitSchema` InitFnDef with a function local `SchemaContext` that will invalided after `InitSchema`, which might fail codegen since FnInfo saved the `SchemaContext`.

#1381 give a workaround fix but we might recheck and give a more well-designed solution.

[2022-03-15 06:05] #1292 closed, assigned to aceforeverd

[2022-03-15 06:10] #1430 closed, assigned to dl239

[2022-03-15 07:22] tobegit3hub opened #1446 "Fail to get correct result for SHOW JOBS command"
<img width="1791" alt="wecom-temp-75c35c2f9f7f9ff3d67e55185e181735" src="https://user-images.githubusercontent.com/2715000/158326681-519e0edf-15c1-4262-932e-4b0acb22b1b5.png">

[2022-03-15 07:30] dl239 opened #1447 "Rename `spName` to `deploymentName` in `SqlExecutor`"
Rename `spName` to `deploymentName` in the following files:
- java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
- java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java

[2022-03-15 07:59] #1410 closed, assigned to nobody

[2022-03-15 09:03] KaidoWang opened #1449 "job info table ，Fail to execute insert SQL"
Issue tracker is **ONLY** used for reporting bugs. New features should be discussed on our discussion

Insert Success

Fail

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

## Detailed Description

## Possible Implementation

[2022-03-15 09:08] KaidoWang opened #1450 "When $LANG=zh_CN.UTF-8, taskmanager start fail"
Issue tracker is **ONLY** used for reporting bugs. New features should be discussed on our discussion

Start Success

Only $Lang = en_US.UTF-8,taskmanager success

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

## Detailed Description

## Possible Implementation

[2022-03-15 09:35] cswjd commented on #1323
I would like to help

[2022-03-15 09:59] cswjd commented on #1321
Images in the en ver documentation need to be placed in the directory: docs/en/images/ ？

[2022-03-15 10:07] tobegit3hub commented on #1449
It is the issue about that restarting table will not recover JOB_INFO table.

[2022-03-15 10:41] #1413 closed, assigned to tobegit3hub

[2022-03-15 10:42] tobegit3hub commented on #1382
Only happens for UnsafeRowOpt.

[2022-03-15 10:42] tobegit3hub commented on #1382
Resolved by https://github.com/4paradigm/OpenMLDB/pull/1381 .

[2022-03-15 10:42] #1382 closed, assigned to tobegit3hub, jingchen2222

[2022-03-15 10:43] #1376 closed, assigned to tobegit3hub

[2022-03-15 10:48] tobegit3hub opened #1455 "Get incorrect result for date columns with UnsafeRowOpt"
Here is the error result.

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/2715000/158361569-80c16b24-2351-4232-829b-da2884971b08.png">

[2022-03-15 11:19] dl239 commented on #1449
Why the JOB_INFO table has not been recovered. restart multi tablets at the same time?

[2022-03-15 11:21] aceforeverd opened #1456 "feat(ResultSetBuilder): construct `ResultSet` directly from client, support all basic data type"
**Is your feature request related to a problem? Please describe.**

There are three ways to construct a `ResultSet`,  https://github.com/4paradigm/OpenMLDB/blob/420398b8349880bce262db06c3b143d023b56862/src/sdk/result_set_sql.h#L45-L56, the first two approach rely on protobuf structures, and the third approach assume all fields as string.

So there is no ease way to construct a `ResultSet` from scr

[2022-03-15 11:24] tobegit3hub opened #1457 "Support SQL syntax of create database if not exists"
Now the sql parser does not support `create database if not exists` and throw error like this.

<img width="776" alt="image" src="https://user-images.githubusercontent.com/2715000/158367636-cf843418-bcfe-4ddc-b579-166b317462ff.png">

[2022-03-15 12:32] aceforeverd opened #1458 "Hidden database should create in standalone mode as well"
hidden dbs should exists in standalone as well
1. __INTERNAL_DB
2. __PRE_AGG_DB
3. INFORMATION_SCHEMA

https://github.com/4paradigm/OpenMLDB/blob/420398b8349880bce262db06c3b143d023b56862/src/nameserver/name_server_impl.cc#L5448-L5494

[2022-03-15 12:38] aceforeverd commented on #1458
__PRE_AGG_DB & INFORMATION_SCHEMA should fine with standalone mode. Does __INTERNAL_DB should support standalone mode ? @tobegit3hub @dl239  It only have a `JOB_INFO` database

[2022-03-15 13:16] vagetablechicken commented on #1450
the same as https://github.com/4paradigm/OpenMLDB/issues/981

[2022-03-15 13:19] vagetablechicken opened #1459 "batch: return error if `select into` gets empty"
https://github.com/4paradigm/OpenMLDB/blob/420398b8349880bce262db06c3b143d023b56862/java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala#L39-L41

If `select` closure in `select into` result is empty, we just skip saving, and the job is succeed. But users can't find the output file. It's not intuitive.
We should throw an exception.

[2022-03-16 03:30] aceforeverd commented on #1277
Is this issue resolved ? @zhanghaohit

[2022-03-16 04:23] tobegit3hub commented on #1352
Resolved by https://github.com/4paradigm/spark/pull/17 .

[2022-03-16 05:16] zhanghaohit commented on #1277
It seems that there are still some remaining libraries, e.g., `tcmalloc`, `unwind`, etc. that are not updated.

[2022-03-16 05:44] #1233 closed, assigned to dl239, aceforeverd

[2022-03-16 06:50] lumianph commented on #1423
shall we close this issue? @dl239

[2022-03-16 07:00] aceforeverd commented on #1458
@keyu813 you may have a look ~

[2022-03-16 07:10] keyu813 commented on #1458
ok I will fix it

[2022-03-16 07:11] tobegit3hub opened #1462 "Change Spark status to avoid getting FINISHED before getting FAILED"
Now it is confusing when job status change FINISHED to FAILED.

[2022-03-16 07:54] tfssweb opened #1464 "部署方式建议"
1. Dockerfile基于release包来做，做最简基础镜像，这样用户可以基于此镜像再做上层服务；
2. 组件拆分，openmldb各个组件其实只是启动参数不一样，各个组件用compose来编排，同时参数可传，端口可改，用户一个命令即可快速启动，并且脱离交互启动；
3. 测试数据可以挂载目录，各类离线数据用户可以自行使用；
4. 基于以上compose可以实现分钟内或者几分钟内完成单机与集群的搭建；

[2022-03-16 09:01] tobegit3hub commented on #1449
We run script to start all tablets(in these case there are two tablets). Will it help if we sleep for a while after starting one tablet?

[2022-03-16 09:17] lumianph commented on #1464
very good suggestion. thank you very much. We will work on this improvement in the near future.

[2022-03-16 09:29] lumianph commented on #1464
@aceforeverd @dl239 @zhanghaohit what do you guys think?

[2022-03-16 09:43] aceforeverd commented on #1464
That's what I want to do too. Make openmldb docker image as a server image, the same as what [mariadb image](https://hub.docker.com/_/mariadb) or other db image is doing.

Besides openmldb image act as a component for cluster, we may consider create a series of special tag for standalone mode.

[2022-03-16 10:14] dl239 opened #1465 "Optimize the distribution of table partition"
When a new table created, partition 0 is assigned to the first endpoint currently. So the distribution is asymmetrical, we should to optimize.
![WX20220316-181116](https://user-images.githubusercontent.com/6183996/158566978-eb16dfcb-7b4b-421d-b657-c3950e57449f.png)

Distribution has been set in [`SetPartitionInfo`](https://github.com/4paradigm/OpenMLDB/blob/v0.6.2/src/nameserver/name_server_impl.c

[2022-03-16 10:33] dl239 commented on #1464
OpenMLDB is not well supported in cloud native currently. It's better to install OpenMLDB on
the physical machine in production. If in docker/k8s,  there are some problems such as crashed more frequently compared with physical machine and cannot scale horizontally easily...
There are some works to do if serving very well in docker/k8s environment.

[2022-03-17 00:37] tobegit3hub commented on #1455
Easy to reproduce by the following case.

[code]

[2022-03-17 01:57] #1447 closed, assigned to nobody

[2022-03-17 03:15] vagetablechicken commented on #81
I'll support it. And it's for pulsar jdbc sink connector.
So we just need the `Driver`, `Connection` and `INSERT`, `UPDATE/DELETE/...` will be marked as unsupported.

[2022-03-17 07:52] Leowner commented on #1438
BulkLoad

[2022-03-17 08:16] #1406 closed, assigned to lumianph

[2022-03-17 08:56] dl239 opened #1473 "Update default partition number and replica num in cluster mode"
The partition num and replica num will be set to one when table created currently.
replica num: min(tablet num, 3)
partiton num: 8

[2022-03-17 09:57] #589 closed, assigned to zhanghaohit, Leowner

[2022-03-17 10:44] #1455 closed, assigned to tobegit3hub

[2022-03-17 10:59] #1446 closed, assigned to tobegit3hub

[2022-03-17 10:59] #1434 closed, assigned to tobegit3hub

[2022-03-17 15:12] zhanghaohit commented on #1464
Currently the docker image is a demo image, rather than a deployment image. Yes. It is necessary to have such kinds of service images for easy deployment.

In addition to separating the components in terms of docker images, we have to split the `openmldb` binary to `nameserver`, `tablet` and `client`s for different purposes as well.

[2022-03-17 15:13] zhanghaohit commented on #1464
Yes. There are some works to make it cloud native.

[2022-03-17 19:58] jingchen2222 commented on #1473
What if the users only have 2 tables. Will it fail for 3 replicas?

[2022-03-18 01:22] lumianph commented on #1435
RFC draft: https://docs.google.com/document/d/1hhiE4QPJo05cA_s-ZYkUbkm0O1XX_Y0e3kwpSs8ztsw/edit?usp=sharing

[2022-03-18 02:07] zhanghaohit commented on #1207
Sorry for missing your comments.

Yes, you are right. Currently I do a `Split` pass to split the `aggregation node with multiple aggregations` to multiple aggregation nodes to achieve this.

[2022-03-18 04:17] zhanghaohit opened #1580 "add end2end compile instructions for udf development"
- compile `openmldb` binary
- compile `java` sdk and update `java` sdk
- compile `python` sdk and install `python` sdk

[2022-03-18 06:17] HuilinWu2 commented on #1389
solved with [PR](https://github.com/4paradigm/OpenMLDB/pull/1402)

[2022-03-18 06:17] #1389 closed, assigned to tobegit3hub, vagetablechicken, HuilinWu2

[2022-03-18 06:19] HuilinWu2 commented on #1400
is supported by `cursor.batch_row_request(sql, common_row, parameters)`.
Then to see the result through `cursor.fetchone()`

[2022-03-18 06:19] #1400 closed, assigned to tobegit3hub, HuilinWu2

[2022-03-18 06:54] #1457 closed, assigned to aceforeverd

[2022-03-18 08:44] HuilinWu2 opened #1477 "show variables/databases return None in Python SDK"
<img width="429" alt="image" src="https://user-images.githubusercontent.com/68987242/158966446-0aa41ff3-2331-4f32-9f0f-648c89cb0467.png">

We get None in result set `_resultSet`.

[2022-03-18 09:00] aceforeverd commented on #1477
how about the result in Openmldb cli ?

[2022-03-18 10:03] Leowner commented on #1249
[code]
In this test, for disktable, its count is 49 and traverse_cnt is 50. If simply change >= to >. Count will be 50 and traverse_cnt 51. As you need to traverse 51 and find it's not valid.

[2022-03-18 10:29] lumianph opened #1479 "docs: update docs/cn/index.html, redirect to the new docs server"
update the url to https://openmldb.ai/docs/zh/

[2022-03-18 11:26] tobegit3hub opened #1480 "Support query offline data in cli and show result"
Now we can only get job info when executing offline sql in cmd.

[2022-03-18 11:56] aceforeverd opened #1482 "build(rocksdb): compile error"
**Bug Description**

1. rocksdb header was installed into `include` instead `include/rocksdb`
2. will compile fail on macOS:

[code]

**Expected Behavior**

**Steps to Reproduce**

1.
2.
4.
5.

[2022-03-18 14:38] #1305 closed, assigned to tobegit3hub, aceforeverd

[2022-03-20 03:10] lumianph commented on #1477
@HuilinWu2

[2022-03-21 01:18] lumianph commented on #1321
yes, it can be placed there. Thanks.

[2022-03-21 02:14] vagetablechicken commented on #81
![](https://github.trello.services/images/mini-trello-icon.png) [Apache Pulsar connector](https://trello.com/c/RFPkvEzM/42-apache-pulsar-connector)

[2022-03-21 02:30] tobegit3hub commented on #1480
![](https://github.trello.services/images/mini-trello-icon.png) [TaskManager improvement and bugfix](https://trello.com/c/raqCp82f/11-taskmanager-improvement-and-bugfix)

[2022-03-21 02:42] aceforeverd commented on #1477
cli work as expect. Might relate to python or c -> python side.

[2022-03-21 02:55] aceforeverd commented on #1445
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-21 03:01] #1423 closed, assigned to dl239

[2022-03-21 03:04] aceforeverd commented on #1482
![](https://github.trello.services/images/mini-trello-icon.png) [Compile & Docker Image](https://trello.com/c/OkCVyzne/43-compile-docker-image)

[2022-03-21 06:59] vagetablechicken commented on #1405
closed by #1422

[2022-03-21 06:59] #1405 closed, assigned to vagetablechicken

[2022-03-21 07:01] vagetablechicken commented on #1101
closed. by #1429

[2022-03-21 07:01] #1101 closed, assigned to vagetablechicken

[2022-03-21 08:10] #1394 closed, assigned to Leowner

[2022-03-21 10:18] lumianph commented on #1464
I believe a cloud native OpenMLDB is very necessary in the near future, we have to make it on the roadmap.

[2022-03-22 00:32] #1322 closed, assigned to nobody

[2022-03-22 00:33] #1323 closed, assigned to nobody

[2022-03-22 03:27] zhanghaohit opened #1488 "pre-aggregation table migration"
**Describe the feature you'd like**
Pre-aggregation tables should be migrated automatically with base table.

Currently the pre-aggregation tables are co-partitioned with base tables. So if we are going to migrate the base table, we have to migrate the pre-aggregation tables at the same time.

Users can manually check what are the pre-aggregation tables associated with the base table and migrate m

[2022-03-22 03:56] aceforeverd commented on #1482
problem only occur on latest macos, will resolve in #1484

[2022-03-22 04:00] lumianph opened #1489 "doc translation (Chinese to English): milestones"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/about/milestones.html  ((you can download as a markdown file from the button at the top-right corner))
- Save the English version to docs/en/milestones.md

[2022-03-22 04:06] aceforeverd commented on #1458
`JOB

`JOB_INFO` only exists in cluster mode

[2022-03-22 04:07] lumianph opened #1490 "doc translation (Chinese to English): standalone_vs_cluster"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/tutorial/standalone_vs_cluster.html (you can download as a markdown file from the button at the top-right corner)
- Save the English version to docs/en/standalone_vs_cluster.md

[2022-03-22 04:10] #1290 closed, assigned to dl239

[2022-03-22 04:24] lumianph opened #1491 "doc: update the English version of compilation"
- The English version is out-of-date (v0.4.1): docs/en/compile.md
- Please refer to the latest Chinese version (https://openmldb.ai/docs/zh/v0.4/deploy/compile.html), and update the English version accordingly

[2022-03-22 04:26] lumianph opened #1492 "doc translation (Chinese to English): install_deploy"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/deploy/install_deploy.html  (you can download as a markdown file from the button at the top-right corner)
- Save the English version to docs/en/install_deploy.md

[2022-03-22 06:15] #1482 closed, assigned to aceforeverd

[2022-03-22 06:38] lumianph opened #1493 "doc translation (Chinese to English): conf"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/deploy/conf.html  (you can download as a markdown file from the button at the top-right corner)
- Save the English version to docs/en/conf.md

[2022-03-22 06:40] lumianph opened #1494 "doc translation (Chinese to English): cli"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/reference/cli.html (you can download as a markdown file from the button at the top-right corner)
- Save the English version to docs/en/cli.md

[2022-03-22 06:52] lumianph opened #1495 "doc translation (Chinese to English): rest_api"
- Translate the Chinese version to English: https://openmldb.ai/docs/zh/v0.4/reference/rest_api.html (you can download as a markdown file from the button at the top-right corner)
- Save the English version to docs/en/rest_api.md

[2022-03-22 06:55] dl239 commented on #1473
`min(tablet_num, 3)`, if only have 2 tablets, we will set as 2.

[2022-03-22 07:04] #1254 closed, assigned to tobegit3hub

[2022-03-22 07:09] #1321 closed, assigned to nobody

[2022-03-22 07:13] #1436 closed, assigned to vagetablechicken

[2022-03-22 07:13] #1137 closed, assigned to tobegit3hub, vagetablechicken

[2022-03-22 11:53] vagetablechicken opened #1496 "jdbc: inserted rows are still in cache after `execute`"
https://github.com/4paradigm/OpenMLDB/blob/90147ca4484ec40786c2df50faccb9bb7c31c0c2/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java#L361

We should delete currentRows after `ExecuteInsert`.
So that, we can do
[code]

[2022-03-23 02:06] dl239 opened #1499 "Rename `oepnmldb_type` to `openmldb_type` in `SchemaAdapter`"
Rename `oepnmldb_type` to `openmldb_type` in the following files:
- src/schema/schema_adapter.h
- src/schema/schema_adapter.cc

[2022-03-23 03:46] vagetablechicken commented on #1496
`InsertPreparedStatementImpl` problems:
1. `addBatch(String s)`: jdbc notes that ['This method cannot be called on a PreparedStatement or CallableStatement'](https://docs.oracle.com/javase/7/docs/api/java/sql/Statement.html#addBatch(java.lang.String)). We shouldn't impl it. So that, `sqlRowsMap` is useless.
2. `sqlRowsMap`: remove this.
3. `addBatch()`: it'll add a new row in `SQLInsertRows`. `exe

[2022-03-23 09:06] vagetablechicken opened #1500 "sql_client: zk "exceeded deadline by N ms" floods logs"
Ref https://issues.apache.org/jira/browse/ZOOKEEPER-642
We should support two feature:
1. set zk_session_timeout in sql_client(only sql_client haven't supported zk_session_timeout)
2. set log level of zk client in sql_client(servers don't need to remove the zk logs, only interactive client needs)

optional:
update zk c api version to 3.5.0, it'll reduce the amount of meaningless log messages.

[2022-03-23 09:59] tobegit3hub opened #1501 "Join condition use encoder/decoder which is inefficient for rows with many columns"
We should optimize the join condition with UnsafeRowOpt or Spark native expr to make join efficient.

[2022-03-24 00:46] lumianph commented on #1499
this is a good good-first-issue :-)

[2022-03-24 00:51] lumianph commented on #1500
@dl239 any comments? i think either approach is fine, but the purpose is to remove the useless logs (for users) in CLI from zk.

[2022-03-24 01:16] #1499 closed, assigned to nobody

[2022-03-24 02:42] tobegit3hub commented on #1501
![](https://github.trello.services/images/mini-trello-icon.png) [performance optimization for offline processing](https://trello.com/c/IkCOLr7m/8-performance-optimization-for-offline-processing)

[2022-03-24 04:18] #1501 closed, assigned to tobegit3hub

[2022-03-24 06:30] #1458 closed, assigned to keyu813

[2022-03-24 09:47] tobegit3hub opened #1504 "Support arithmetic computing for join condition when enabling spark expr opt"
Now we can not convert arithmetic expression for join condition when enabling SparkExprOpt.

[2022-03-24 09:50] tobegit3hub commented on #1504
![](https://github.trello.services/images/mini-trello-icon.png) [performance optimization for offline processing](https://trello.com/c/IkCOLr7m/8-performance-optimization-for-offline-processing)

[2022-03-25 01:03] lumianph commented on #1495
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:03] lumianph commented on #1494
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:03] lumianph commented on #1493
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:03] lumianph commented on #1492
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:04] lumianph commented on #1491
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:04] lumianph commented on #1490
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:04] lumianph commented on #1489
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:05] lumianph commented on #1459
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:06] lumianph commented on #1408
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:06] lumianph commented on #1407
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-25 01:23] dl239 commented on #1500
there are others log such as node change log which is unnecessary in CLI, but is useful for debugging in java/python sdk. So i think it's better to set log level only in CLI.

[2022-03-25 01:35] lumianph opened #1506 "OpenMLDB v0.5 Roadmap"
This is the roadmap for the OpenMLDB v0.5 release. As a community-driven project, we love your feedback. Please follow this thread to join our discussion:
- You may ask us about the detail of features on this roadmap.
- You are welcome to contribute to any items (even they are not on the list).
- Please reply this topic if you are planning to implement any features that are not on the list, and we

[2022-03-25 03:03] lumianph commented on #1480
this one can be finished in v0.5.0?

[2022-03-25 03:17] lumianph opened #1507 "performance report for online queries"
We are planning to publish a complete performance report for online queries in the near future. Please leave your feedback if you are interested in any specific topics. Thanks.

[2022-03-25 06:38] dl239 opened #1508 "Add `override` to the method of `MultipleResultSetSQL`"
The [MultipleResultSetSQL](https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/result_set_sql.h#L103) class is derived from [::hybridse::sdk::ResultSet](https://github.com/4paradigm/OpenMLDB/blob/main/hybridse/include/sdk/result_set.h#L33), and it's better to add `override` label to the overrode method.

[2022-03-25 08:16] lwq20020127 commented on #1495
I would like to help.

[2022-03-25 08:17] cswjd commented on #1489
I would like to help.

[2022-03-25 09:57] lumianph commented on #1508
this issue belongs to our Contributor Challenges program, you can redeem your rewards after your PR is merged.
https://github.com/4paradigm/OpenMLDB/issues/1344

[2022-03-26 02:27] cswjd commented on #1508
I would like to help.

[2022-03-27 02:20] cswjd commented on #1490
I would like to help.

[2022-03-27 02:36] cswjd commented on #1491
I would like to help.

[2022-03-27 10:38] cswjd commented on #1492
I would like to help.

[2022-03-27 10:38] cswjd commented on #1493
I would like to help.

[2022-03-27 10:38] cswjd commented on #1494
I would like to help.

[2022-03-28 00:51] lumianph commented on #1508
Thank you so much~

[2022-03-28 00:58] lumianph opened #1519 "OpenMLDB v0.6 Roadmap"
We are collecting requirements for the OpenMLDB v0.6. This version is aiming at the stability and usability enhancement. Meanwhile it will be particularly focusing on issues raised from the community.

- If you have any suggestions for new features, please reply this thread to join our discussion.
- If you are interested in implementing any items (even they are not on the below list), please also

[2022-03-28 01:18] lumianph opened #1520 "OpenMLDB v0.4 Roadmap"
This is a history release for v0.4.x, so the release notes are provided below.

[2022-03-28 01:20] lumianph commented on #1520
## [0.4.0] - 2022-01-14

### Highlights

- The SQL-centric feature is enhanced for both standalone and cluster versions. Now you can enjoy the SQL-centric development and deployment experience seamlessly. (#991,#1034,#1071,#1064,#1061,#1049,#1045,#1038,#1034,#1029,#997,#996,#968,#946,#840,#830,#814,#776,#774,#764,#747,#740,#466,#481,#1033,#1027,#966,#951,#950,#932,#853,#835,#804,#800,#596,#595,#56

[2022-03-28 01:20] lumianph commented on #1520
## [0.4.1] - 2022-02-09

### Features
- Improve CLI error messages and support the 'enable_trace' system variable (#1129 @jingchen2222)

### Bug Fixes
- CLI coredumps when it fails to connect to a nameserver. (#1166 @keyu813)
- Java SDK has the issue of memory leaks. (#1148 @dl239)
- The startup fails if a pid file exists. (#1108 @dl239)
- There are incorrect values for the column with the date ty

[2022-03-28 01:21] lumianph commented on #1520
## [0.4.2] - 2022-03-01

### Features
- Support timestamps in `long int` when importing a csv file (#1237 @vagetablechicken)
- Change the default execution mode in CLI from `online` to `offline` (#1332 @dl239)
- Enhancements for the Python SDK:
  - Support `fetchmany` and `fetchall` in Python SDK (#1215 @HuilinWu2)
  - Support fetching logs of TaskManager jobs in Python SDK and APIs (#1214 @tobegi

[2022-03-28 01:21] lumianph commented on #1520
## [0.4.3] - 2022-03-15

### Features

- Add the output of the number of rows imported after successfully importing data (#1401 @Manny-op)
- Code Refactoring (#1366 @Cupid0320; #1378 @wuteek; #1418 @prashantpaidi; #1420 @shiyoubun; #1422 @vagetablechicken)

### Bug Fixes
- Loading online data with "not null" columns in Spark fails. (#1341 @vagetablechicken)
- `max_where` and `min_where` results ar

[2022-03-28 02:48] aceforeverd opened #1522 "resolve the dependency warning in java modules"
**Bug Description**

![Screenshot_20220323_082152_com android chrome](https://user-images.githubusercontent.com/11715200/160317997-43513ce1-40d6-4de9-ba6a-0fbab114e86a.png)

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-03-28 02:48] aceforeverd commented on #1522
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-28 02:51] aceforeverd commented on #1522
there is no critical problems since
1. hadoop upgrade may not happen, it conflict with 4paradigm/spark 's hadoop version
2. log4j problem only appear in testing tools, that is not available in production

[2022-03-28 03:02] aceforeverd commented on #1508
@dl239 we might need to add more strict compiler flag in CMakeLIsts as default, so those will simply be compile time error ?

[2022-03-28 04:17] #1508 closed, assigned to L-Y-L

[2022-03-28 06:34] lumianph commented on #1522
noted with thanks.

[2022-03-28 07:07] keyu813 opened #1523 "PRE_AGG_META table can't create in standalone mode"
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/60570208/160344392-d30884bb-dac6-42d4-a3ba-34afa73d6985.png">

[2022-03-28 08:26] nautaa opened #1525 "support `RowBuilder` external buffer"
**Describe the feature you'd like**

now, `RowBuilder` uses the internal str pointer to maintain encoded row. Like `RowView`, it should support external str buffer to encode row. So that the rows that share the same schema can use one `RowBuilder` to encode row concurrently.
[code]

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-03-28 14:30] #1495 closed, assigned to nobody

[2022-03-29 01:08] aceforeverd commented on #1525
sounds like need another abstract layer. Both `owned str RowBuilder` & `ref str RowBuilder` reply on same `SchemaFactory` to encode/decode rows

[2022-03-29 01:09] aceforeverd commented on #1523
Creating `INNER_DB` should appear in all modes

[2022-03-29 01:13] aceforeverd opened #1528 "build: compile with more strict flags"
**Describe the feature you'd like**

It appear there are many warnings during compilation. To improve code quality, we should consider just failing the compile when some of the warnings meet, not limited to e.g:
- -Wdangling-gsl
- -Wformat
- -Wdelete-non-abstract-non-virtual-dtor
- -Wthread-safety

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-03-29 04:13] #1504 closed, assigned to tobegit3hub

[2022-03-29 04:31] dl239 opened #1529 "Recover `sp_cache` after restart the tablet"
`sp_cache` which store the compile info is not recovered after restart the tablet

[2022-03-29 05:58] #1207 closed, assigned to zhanghaohit

[2022-03-29 06:46] keyu813 commented on #1523
This issue will be solved in pr #1485

[2022-03-29 06:52] dl239 opened #1530 "Collect v0.4.4 features"
Features
- #1231 @dl239  29 days ago
- #1302 @tobegit3hub   2.24
- #1402 @hezhaozhao-git 14 days ago
- #1325 @HuilinWu2
- #1486 @vagetablechicken 7 days ago
- #1511 @vagetablechicken
- #1485 @keyu813

Bugfix
- #1415 @dl239 19 days ago
- #1440 @vagetablechicken 12 days ago
- #1540 @dl239
- #1443 @jingchen2222 14 days ago
- #1511 @vagetablechicken

Code Refactoring
- #1467 @dl239 12 days ago
- #1513

[2022-03-29 08:52] dl239 opened #1531 "Delete java dir from `gitignore`"
hybridse/java dir has been deleted, so we should delete java dir from [gitignore](https://github.com/4paradigm/OpenMLDB/blob/main/hybridse/.gitignore)

[2022-03-29 08:55] aceforeverd commented on #1530
all fine

[2022-03-29 08:56] aceforeverd commented on #1529
how to recover ?

[2022-03-29 09:08] samyberkane04 commented on #1531
@dl239
can i work on this issue please ?

[2022-03-29 09:13] dl239 commented on #1531
of course, thank you

[2022-03-29 09:22] dl239 commented on #1529
o, `sp_cache_` has been recovered in [CreateProcedure](https://github.com/4paradigm/OpenMLDB/blob/main/src/tablet/tablet_impl.cc#L4926) which will be called in `RefreshTableInfo`

[2022-03-29 09:22] #1529 closed, assigned to dl239

[2022-03-29 14:46] lumianph commented on #1530
we should at least have the feature of SDK support of the standalone version

[2022-03-29 14:47] lumianph commented on #1531
thank you for the contribution!

[2022-03-30 01:04] zhanghaohit opened #1533 "merge aggregators in `src/storage/aggregator.xx` and `hybridse/src/vm/aggregator.h`"
**Describe the feature you'd like**
There are two different places to implement the pre-aggregation logics for the `long window` feature. We should finally merge these in order to avoid code duplication.

[2022-03-30 01:06] zhanghaohit opened #1534 "merge the codec in the two places: `hybridse/include/codec/fe_row_codec.h` and `src/codec/codec.h`"
Duplicate implementations for codecs

[2022-03-30 02:43] vagetablechicken opened #1536 "delete unused variable and do right close"
https://github.com/4paradigm/OpenMLDB/blob/230f99b9b5744f2663b0253a87a2496c9f5ce96b/java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala#L141-L170

`pstmt ` is useless, delete it. And delete `statement ` in `finally` block.

[2022-03-30 06:01] dl239 opened #1537 "Execute udf function on string field will core dump if length greater than 2048"
![WX20220330-135841](https://user-images.githubusercontent.com/6183996/160761844-4ab92f95-8885-475c-9091-c6aef9eb4eb7.png)

[2022-03-30 06:53] vagetablechicken opened #1538 "java sdk: error is not understandable if getInsertPreparedStatement (and other functions)'s arg is null"
It will failed on `GetInsertRow`
![image](https://user-images.githubusercontent.com/24697960/160769494-c7f8b9a8-e361-4fd1-9577-67394bea0525.png)

Hard to understand.

[2022-03-30 08:42] Scarlett-xu opened #1542 "当string数据量很大时使用split函数出现问题"
**Bug Description**
对长度超过20000的string类型数据使用fz_split时报错：
<img width="1405" alt="image" src="https://user-images.githubusercontent.com/55266405/160789787-ddce5ab8-a374-44a0-a378-b0306f29d330.png">

**Expected Behavior**
希望可以解决string较大时的处理

**Steps to Reproduce**

1.
2.
3.
4.

[2022-03-30 08:45] Scarlett-xu opened #1543 "希望增加一列拆成多行的函数"
**Describe the feature you'd like**
我的数据是这样的：“1:0.31234|3:0.532|56:0.99|8:0.345”
希望有一个函数，类似于explode，能够按照指定分隔符，将一列拆分成多行。

[2022-03-30 08:50] dl239 commented on #1542
the same problem as #1537

[2022-03-30 13:01] #620 closed, assigned to dl239

[2022-03-30 13:01] #1523 closed, assigned to keyu813

[2022-03-30 13:22] aceforeverd opened #1547 "tablet server: `globla_variables` is not updated in standalone mode"
**Bug Description**

the `global_variable` rely on zookeeper event to trigger a update, which not works in standalone mode

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-03-30 15:05] zhanghaohit opened #1548 "cluster_router of tablet server is only inited in cluster mode"
**Bug Description**
SQLClusterRouter of tablet server is only inited when zookeeper config is available.

**Expected Behavior**
- should have both SQLClusterRouter or StandaloneRouter
- or provide a function to iterate local table easily

[2022-03-30 15:09] zhanghaohit opened #1549 "Lots of error messages when doing periodical fetching pre-aggr tables"
**Bug Description**
[code]

**Expected Behavior**
- set `online` mode for router in the tablet server
- avoid fetch data when cluster is not ready

[2022-03-30 17:15] Leowner commented on #1438
SetExpire

[2022-03-30 17:28] Leowner commented on #1438
`NameServerImpl::SchedMakeSnapshot ` only used for Memtable now. Maybe no need to make snapshot as disktable is already persistent

[2022-03-31 00:46] #1479 closed, assigned to lumianph

[2022-03-31 01:16] lumianph commented on #1530
Please help confirm the documentations are also ready for the following features.

Features
- [x] #1231 @dl239  29 days ago
- [x] #1302 @tobegit3hub   2.24
- [ ] #1402 @hezhaozhao-git 14 days ago
- [x] #1325 @HuilinWu2
- [x] #1486 @vagetablechicken 7 days ago
- [x] #1511 @vagetablechicken
- [x] #1485 @keyu813

[2022-03-31 03:06] zhanghaohit commented on #1549
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-03-31 03:07] zhanghaohit commented on #1548
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-03-31 03:21] #81 closed, assigned to vagetablechicken

[2022-03-31 03:21] #1496 closed, assigned to vagetablechicken

[2022-03-31 03:50] johndinh391 commented on #1536
May I be assigned this task?

[2022-03-31 03:53] #1537 closed, assigned to nobody

[2022-03-31 03:53] #1542 closed, assigned to aceforeverd

[2022-03-31 04:09] lumianph commented on #1530
### Features
- Support the standalone version by Java and Python SDKs (#1302 #1325 #1485 @tobegit3hub @HuilinWu2 @keyu813)
- Support the blocking execution for offline queries (#1486 @vagetablechicken )
- Add the `getStatement` API in Java SDK (#1231 @dl239 )
- Support multiple rows insertion in the Python SDK (#1402 @hezhaozhao-git )
- Support the JDBC connection (#1511 @vagetablechicken )

### B

[2022-03-31 04:10] vagetablechicken commented on #1536
👍  waiting for your pull request

[2022-03-31 08:39] tobegit3hub opened #1553 "Support reader for openmldb-spark-connector"
Now we can use Spark to write openmldb online storage but can not read data from online storage.

[2022-03-31 08:54] tobegit3hub commented on #981
Workaround method to avoid this by setting charset when submitting Spark jobs.

[code]

[2022-03-31 09:22] aceforeverd opened #1554 "`lag()/at()/lead()` return show offset'th row, it is not related to window frame bound"
**Bug Description**

[code]

**Expected Behavior**

the case should pass. Current result is not:

[code]

**Work List**
- [x] add extra handling in logic plan for `lag` functions
  - working in #1605
- [x] fix lag correctness in request mode & cluster environment
- [x] fix window merge result correctness ( may related to #1587 )

[2022-03-31 09:26] aceforeverd commented on #1554
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-03-31 09:29] aceforeverd commented on #1554
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-03-31 14:16] lumianph commented on #1530
@dl239 remember to add the acknowledgement in the release note

[2022-04-01 01:12] #1494 closed, assigned to nobody

[2022-04-01 01:14] #1493 closed, assigned to nobody

[2022-04-01 01:18] #1491 closed, assigned to nobody

[2022-04-01 01:41] #1490 closed, assigned to nobody

[2022-04-01 01:44] #1489 closed, assigned to nobody

[2022-04-01 02:42] nautaa opened #1559 "Optimize concurrent access for aggregators"
**Describe the feature you'd like**

The aggregators may be accessed concurrently. Now each of the aggregators is protected by its mutex. It is costly in terms of memory usage.

We should design a more efficient thread-safe method to access the aggregators.

Some possible directions:

1.   introduce the implementation of concurrent hashmap from third-party libraries.
2. asynchronous update for the

[2022-04-01 02:47] dl239 commented on #1559
for what purpose

[2022-04-01 02:51] zhanghaohit opened #1560 "Create PreAggrTables in standalone mode"
**Bug Description**
Only in cluster mode, it will create pre-aggr tables. We should do it also in standalone mode.

[2022-04-01 02:51] zhanghaohit commented on #1560
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - compute engine](https://trello.com/c/XMMF5TXl/6-long-time-window-compute-engine)

[2022-04-01 02:56] aceforeverd commented on #1559
folly has one: https://github.com/facebook/folly/blob/main/folly/concurrency/ConcurrentHashMap.h
not sure if ConcurrentHashMap is ready enough

[2022-04-01 03:06] nautaa commented on #1559
for `aggregator` concurrent access, now we wrapper the `std::unordered_map`, but it is not efficient implementation.
https://stackoverflow.com/questions/48987641/thread-safe-stdmap-locking-the-entire-map-and-individual-values

[2022-04-01 06:30] dl239 commented on #1559
how about update aggregator value by async reading binlog. Synchronous computation have more workload on `Put`

[2022-04-01 06:34] lumianph commented on #1530
@vagetablechicken  the doc for `executemany` is still missing?

[2022-04-01 06:37] #1234 closed, assigned to aceforeverd

[2022-04-01 06:40] aceforeverd commented on #1234
Mostly done, left minor issues that may resolve later:
1. currently deploy stats is not available in standalone mode, due to #1547
2. enable deploy stats via command line is not supported

[2022-04-01 08:40] tobegit3hub opened #1563 "Simplify the config file of TaskManager in release"
We do not need to set all config in TaskManager conf file in release.

[2022-04-01 08:48] Shouren commented on #1506
Hi,
Any details of the feature of  "Supporting C UDF" in the section of "CLI and SQL" ? Does it support dynamic loading?

[2022-04-01 08:57] lumianph commented on #1506
C UDF should be able to support dynamic loading. This feature is almost done. @dl239 may show some examples later.

[2022-04-01 09:53] vagetablechicken opened #1564 "Shouldn't select PRE_AGG_META_INFO offline part"
Table PRE_AGG_META_INFO is online table. But sdk default mode is offline, it'll try to select offline part.

[2022-04-01 10:24] vagetablechicken opened #1565 "taskmanager: registerOpenmldbOfflineTable should use options"
https://github.com/4paradigm/OpenMLDB/blob/ba4c408c1b4dd9c488e31308b33044ccab988a07/java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala#L269

Now we can't read offline path with options. e.g. when soft copy, csv file has header, but `spark.read.csv()` won't parse header. And we can't load without header, it's no schema(col name, type name).

[2022-04-01 11:20] dl239 commented on #1530
ok

[2022-04-01 11:23] tobegit3hub opened #1566 "Add identity UDF"
Add the new UDF of identity which simply return the input value.

This is useful for encoding methods like `label` and `continuous`.

[2022-04-01 14:53] dl239 opened #1567 "Execute load data failed on standalone mode"
<img width="956" alt="WX20220401-225323@2x" src="https://user-images.githubusercontent.com/6183996/161288403-b4b1b863-2b7e-475c-87f8-8d02530805b7.png">

[2022-04-01 15:31] aceforeverd commented on #1554
the problem might be complex, I just have a look for `at()` function (which is alias for `lag()`) currently:

### the output for SQL:

[code]
is:
[code]

here `lag(val1, 0)` returns the first row in window, that feels not corret. I tested MySQL, and the meaning there is just `offset`th row relative to current row:
[code]

SparkSQL do not support lag over window frame, so there is no standard from

[2022-04-01 15:38] aceforeverd commented on #1554
previous definition for `lag` and `lead`: https://github.com/4paradigm/OpenMLDB/issues/265

[2022-04-01 15:40] aceforeverd commented on #1554
the documents seems not correct or accurate

https://github.com/4paradigm/OpenMLDB/blob/06ccd67533d682d58c80afa6cb151bb4f36c2ac4/hybridse/src/udf/default_defs/window_functions_def.cc#L97-L115

[2022-04-02 00:13] lumianph commented on #1567
it looks like `use` is not working?

[2022-04-02 01:22] dl239 commented on #1567
the db passed to load data function is not correct

[2022-04-02 03:29] aceforeverd commented on #1565
any idea how to fix it @vagetablechicken ?

[2022-04-02 03:33] aceforeverd commented on #1560
https://github.com/4paradigm/OpenMLDB/blob/06ccd67533d682d58c80afa6cb151bb4f36c2ac4/src/nameserver/name_server_impl.cc#L5491-L5511 maybe I just fixed it before in #1497

[2022-04-02 03:34] aceforeverd commented on #1560
No I don't 😅

[2022-04-02 03:34] #1209 closed, assigned to zhanghaohit

[2022-04-02 03:34] #1210 closed, assigned to zhanghaohit

[2022-04-02 03:34] #1549 closed, assigned to zhanghaohit

[2022-04-02 03:34] #1564 closed, assigned to zhanghaohit

[2022-04-02 03:37] aceforeverd commented on #1548
Just an idea, in `name_server_impl`, I use a function to lazy get `SQLClusterRouter` only in need:
https://github.com/4paradigm/OpenMLDB/blob/06ccd67533d682d58c80afa6cb151bb4f36c2ac4/src/nameserver/name_server_impl.cc#L10568

[2022-04-02 03:41] aceforeverd commented on #1543
Thanks for the suggestion, we'll think about that once got few time

[2022-04-02 03:55] vagetablechicken commented on #1565
Just use format, path, options, schema to read files in offline storage. It's similar with `autoLoad`.

[2022-04-02 04:01] vagetablechicken opened #1569 "load: should handle the result status of loading in sdk"
https://github.com/4paradigm/OpenMLDB/blob/230f99b9b5744f2663b0253a87a2496c9f5ce96b/src/sdk/sql_cluster_router.cc#L2364-L2378

If `base_status ` is not ok, it returns `status` without setting.

[2022-04-02 05:25] #1567 closed, assigned to dl239

[2022-04-02 07:01] #1569 closed, assigned to nobody

[2022-04-02 07:13] vagetablechicken opened #1572 "taskmanager: make rpc server option keepAliveTime settable"
The sync offline job can't set a long job timeout, cuz the taskmanager server will close the socket(channel).
brpc says
[code]
So we should make taskmanager server option `keepAliveTime` settable. If we want the taskmanager run sync job, set this bigger or 0.

[2022-04-02 08:33] tobegit3hub opened #1576 "Design the udf class of feature encoding methods"
Design the basic class of feature encoding.

[2022-04-02 09:38] #1572 closed, assigned to vagetablechicken

[2022-04-02 10:17] aceforeverd commented on #1554
neither the yaml case is correct. actual result should be:
[code]

`at(val1, 0)` refer to current row, so `!isnull(at(val1, 0))` always true. And since the second window is above current row absolutely, `count_where` always have zero match

[2022-04-02 11:34] aceforeverd commented on #1356
confirmed, if the query order is different with the where condition order, result in empty list, e.g:
[code]

[2022-04-02 12:35] lumianph commented on #1356
this should be high priority

[2022-04-04 02:16] zhanghaohit commented on #1559
Yes. We may change to asynchronous as the next step.

[2022-04-04 02:21] zhanghaohit opened #1578 "Optimize AggrBuffer memory layout"
**Describe the feature you'd like**

Now `AggrBuffer` is defined as follows:

[code]

Can use a more efficient way to do it.

**Additional context**
`src/storage/aggregator.h`

[2022-04-04 02:30] #1202 closed, assigned to zhanghaohit, nautaa

[2022-04-05 09:53] lumianph commented on #1554
@jingchen2222 can you help take a look, and probably give some suggestions where we should look into this issue?

[2022-04-05 10:15] lumianph commented on #666
is this done? @tobegit3hub @dl239

[2022-04-05 10:15] lumianph commented on #666
shall we link the PR and close it?

[2022-04-05 10:16] lumianph commented on #336
@tobegit3hub shall we close this?

[2022-04-05 18:39] jingchen2222 commented on #1554
@aceforeverd You're right. The lag should have returned the expression of the row preceding n offset from the current row. The current implementation of the `lag` function, however, is based on the expression of the row preceding n offset from the start row of the window.

I think it would be a tough job.
@lumianph @aceforeverd @tobegit3hub
I suggest that **firstly** **we can put a restriction on

[2022-04-06 01:49] zhanghaohit opened #1581 "disk_table snapshot test"
**Describe the feature you'd like**

add ut for disk-table snapshot

**Additional context**

`src/storage/snapshot_test.cc`

[2022-04-06 01:51] zhanghaohit opened #1582 "WindowIterator support for disk table"
**Describe the feature you'd like**

DiskTable should support `NewWindowIterator` APIs

[2022-04-06 01:52] zhanghaohit commented on #1582
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - storage engine](https://trello.com/c/UxAMvWh5/5-long-time-window-storage-engine)

[2022-04-06 01:52] zhanghaohit commented on #1582
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - storage engine](https://trello.com/c/UxAMvWh5/5-long-time-window-storage-engine)

[2022-04-06 01:54] zhanghaohit commented on #1581
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - storage engine](https://trello.com/c/UxAMvWh5/5-long-time-window-storage-engine)

[2022-04-06 02:02] #1560 closed, assigned to nautaa

[2022-04-06 02:04] zhanghaohit commented on #1294
Yes. It is an alternative. But our option is like `hdd`, `memory` and `ssd`, which may be different from the `engine` context like mysql (e.g., `InnoDB`).

[2022-04-06 02:47] aceforeverd commented on #1356
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-04-06 02:58] aceforeverd commented on #1270
Executing `SHOW stmt` capability is avaliable in #1231 in native code, the only thing left in python sdk is cache the result in `CursorResult` object after executing.

[2022-04-06 02:59] vagetablechicken commented on #1572
![](https://github.trello.services/images/mini-trello-icon.png) [Apache Pulsar connector](https://trello.com/c/RFPkvEzM/42-apache-pulsar-connector)

[2022-04-06 03:00] vagetablechicken commented on #1572
![](https://github.trello.services/images/mini-trello-icon.png) [talkingdata demo](https://trello.com/c/RphJ2gvS/48-talkingdata-demo)

[2022-04-06 03:01] vagetablechicken commented on #1565
![](https://github.trello.services/images/mini-trello-icon.png) [talkingdata demo](https://trello.com/c/RphJ2gvS/48-talkingdata-demo)

[2022-04-06 05:05] lumianph commented on #1554
@jingchen2222 thank you very much. @aceforeverd can you first help evaluate the workload. i will call a meeting to discuss the solution.

[2022-04-06 05:06] lumianph commented on #1554
![](https://github.trello.services/images/mini-trello-icon.png) [the window bug](https://trello.com/c/jaszXOzG/6-the-window-bug)

[2022-04-06 05:38] aceforeverd commented on #1554
sure

[2022-04-06 08:28] dl239 opened #1585 "`sync deploy stats` log flooding in nameserver"
![WX20220406-161446](https://user-images.githubusercontent.com/6183996/161928579-c0f4e861-2186-4b59-9a7a-8733722a901d.png)

it's better to control the log frequency

[2022-04-06 08:30] dl239 commented on #1585
debug log

[2022-04-06 08:31] #1585 closed, assigned to aceforeverd

[2022-04-06 13:46] aceforeverd opened #1586 "default udf `sum/sum_where/avg/avg_where` should return NULL if no rows in range or all values is NULL"
**Bug Description**

currently the `sum()` is defined with init value `0`, https://github.com/4paradigm/OpenMLDB/blob/f5fc988a38d0d9b8952155cdfe9d782133502e46/hybridse/src/udf/default_udf_library.cc#L99-L103, which should be `NULL` instead.

The same situation apply to `sum_where/avg/avg_where`. For `count/count_where`, it is correct to have `0` as init value

a example test case:
[code]

**Expect

[2022-04-06 15:24] aceforeverd opened #1587 "`at/lag/first_value` udf function over merged window report different result compared to those not merged"
**Bug Description**

two compared case:
1.  case one
[code]

2.   case two
[code]

in case two , `lag(val1, 0) over w1` will produce series `NULL, 1, 2, 3, 4`, while in case one, it produce `NULL, NULL , NULL, NULL, NULL` instead.

The case do not concern correctness of `lag` function but the consistency of two similar windows before and after merged in compilation, for lag correctness refer #1554

[2022-04-07 02:40] aceforeverd commented on #1554
Thank you ~. Since the problem is the `offset` in `lag` appears out-of-range of window frame bound, so it is also possible for `offset` to be beyond window upper bound. Hence I'm thinking giving all `lag/at` function the same window frame as `UNBOUND AND CURRENT ROW`

It is some kind misleading in SQL view as `lag` is actually not related to window frame bound

[2022-04-07 03:50] #1492 closed, assigned to nobody

[2022-04-07 04:25] aceforeverd commented on #1587
since `lag` result may not correct, the case should use `first_value` instead:
[code]

it only happens in `rows_range` window, two `rows` window works fine

[2022-04-07 06:26] #1294 closed, assigned to zhanghaohit, Leowner

[2022-04-07 06:37] dl239 commented on #1531
hi @samyberkane04 are you working for this issue?

[2022-04-07 09:09] #1563 closed, assigned to tobegit3hub

[2022-04-07 09:33] #1480 closed, assigned to tobegit3hub

[2022-04-07 11:29] keyu813 opened #1590 "select * will have wrong result when set partitionnum = 8 and replicanum = 3"
<img width="639" alt="image" src="https://user-images.githubusercontent.com/60570208/162188716-f4bd2c07-e8a8-409e-a2eb-98e741181fc2.png">
expect only one line but return three lines

[2022-04-07 11:30] aceforeverd commented on #1590
bacause replicanum = 3

[2022-04-07 11:31] keyu813 commented on #1590
so it's valid？

[2022-04-07 11:33] aceforeverd commented on #1590
@dl239 may explain

[2022-04-07 15:32] aceforeverd commented on #1554
The first thing I'd like to do is in the Planner when transform from `SQLNote`, will create a separate window for all `at/lag` project by its `order` and `partition`, but make frame `unbound preceding and current row`.

Meanwhile SQL engine should support the syntax without window frame or even without partition by, e.g `select lag(row) over (order by col1 partition by col2) from t1;`, as it is th

[2022-04-08 02:38] nautaa opened #1593 "tablet ptr uninit fault"
**Bug Description**
https://github.com/4paradigm/OpenMLDB/blob/52ed5920309fc7a5ac75bf92d0075789ca7939f0/src/catalog/sdk_catalog.cc#L114

tablet ptr maybe nullptr, will cause segment fault.

**Expected Behavior**
error handling

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-08 02:38] #1353 closed, assigned to tobegit3hub

[2022-04-08 02:43] #1270 closed, assigned to aceforeverd, HuilinWu2

[2022-04-08 02:45] aceforeverd commented on #1235
global variables metrics may not support in v0.5.0. Meanwhile, need extra tests for newly added code

[2022-04-08 04:26] lumianph opened #1595 "docs: dead links in readme"

[2022-04-08 04:28] zhanghaohit opened #1596 "Support enable_gc in disk table"
**Describe the feature you'd like**

Like MemTable, also support `enable_gc` option in disk table

[2022-04-08 04:34] aceforeverd commented on #1554
@jingchen2222  I can't understand the third point though

[2022-04-08 04:41] #1595 closed, assigned to lumianph

[2022-04-08 08:51] KaidoWang opened #1599 "when select table, row set disappear"
**Bug Description**
<img width="712" alt="企业微信截图_1edd4083-e392-4555-b5de-fdfd4a60763a" src="https://user-images.githubusercontent.com/37789023/162400989-98a1759f-dc95-440d-9cd7-19c69620459b.png">

**Expected Behavior**
<img width="394" alt="image" src="https://user-images.githubusercontent.com/37789023/162401117-9c2abf28-7a82-49de-85cf-48fa9b1dda3a.png">

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-08 08:54] aceforeverd commented on #1599
can't understand, pls describe in detail

[2022-04-08 08:57] KaidoWang commented on #1599
last line,1 row in set now disappear

[2022-04-08 09:22] #1593 closed, assigned to nautaa

[2022-04-09 15:33] zhanghaohit opened #1604 "`CallProcedure` request may not be routed to the best tablet when `partitionnum` > 1"
**Bug Description**
When the `partitionnum` of a table is > 1, `CallProcedure` request is routed to a random tablet.

Current logic is:
`pid = rand_.Uniform(pid_num);`

The result is wrong but we may have to fetch data from remote tablet to the routed tablet.

**Expected Behavior**
`CallProcedure` request should be routed to the tablet based on the pk.

**Steps to Reproduce**

1. `SQLSDKQueryTest.

[2022-04-09 15:49] zhanghaohit commented on #1604
have to set `FLAGS_enable_distsql = true` to enable routing the data from remote tablet

[2022-04-10 13:25] zhanghaohit commented on #1604
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-04-11 01:21] dl239 opened #1606 "Register external function in `openmldb-batch`"
refer  #1393

[2022-04-11 01:26] dl239 commented on #1606
![](https://github.trello.services/images/mini-trello-icon.png) [C UDF support](https://trello.com/c/53uaUvgk/7-c-udf-support)

[2022-04-11 01:38] aceforeverd commented on #1590
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-04-11 01:39] aceforeverd commented on #1587
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-04-11 02:00] jingchen2222 commented on #1554
Giving all lag/at function the same window frame as UNBOUND AND CURRENT ROW might introduce another problem.
That is the unpredictable performance of an unbounded window especially when the dataset contains hundreds and thousands of rows associated with one key?

[2022-04-11 02:15] aceforeverd commented on #1554
Yeah. We do not seem to have restriction for the type of `offset`, so it is not determined on compile time how big the `offset` value will be. If `offset` is restricted to integer or simple expr that can transformed to integer in compile time, it may do some optimization for `lag`'s window ?

[2022-04-11 02:48] #1351 closed, assigned to tobegit3hub, HuilinWu2

[2022-04-11 03:14] #1599 closed, assigned to dl239

[2022-04-11 03:24] wangwendong1024 opened #1607 "compile image `hybridsql:0.4.x` won't compile on latest code"
**Bug Description**
-- CMAKE_BUILD_TYPE: RelWithDebInfo
-- Found LLVM 9.0.1
-- Using LLVMConfig.cmake in: /deps/usr/lib/cmake/llvm
-- Using LLVM components: LLVMSupport;LLVMCore;LLVMOrcJIT;LLVMX86CodeGen;LLVMX86Desc;LLVMX86Info
-- Found Boost: /deps/usr/include (found version "1.69.0") found components: filesystem date_time regex
-- Found Protobuf Libraries: /deps/usr/lib/libprotobuf.a;-lpthread
-

[2022-04-11 03:26] aceforeverd commented on #1607
pls use `hybridsql:0.5`, should be noted that `hybridsql:0.4.x` is not compatible for latest code

[2022-04-11 03:29] wangwendong1024 opened #1608 "quick start from https://openmldb.ai/docs/zh/main/deploy/compile.html in docker make error"
**Bug Description**
-- CMAKE_BUILD_TYPE: RelWithDebInfo
-- Found LLVM 9.0.1
-- Using LLVMConfig.cmake in: /deps/usr/lib/cmake/llvm
-- Using LLVM components: LLVMSupport;LLVMCore;LLVMOrcJIT;LLVMX86CodeGen;LLVMX86Desc;LLVMX86Info
-- Found Boost: /deps/usr/include (found version "1.69.0") found components: filesystem date_time regex
-- Found Protobuf Libraries: /deps/usr/lib/libprotobuf.a;-lpthread
-

[2022-04-11 04:23] zhanghaohit commented on #1554
`offset` can be something that can only be known at runtime? Support type is not like this?
[code]

[2022-04-11 05:23] aceforeverd commented on #1554
yeah, it is runnable e.g `lag(col1, lag(col2, 1))`, I think we just need `lag(col, 0)` or `lag(col, 1+1)`. Meanwhile, spark sql seems do the same restriction.

[2022-04-11 05:34] aceforeverd commented on #1608
dup #1607

[2022-04-11 05:34] #1608 closed, assigned to aceforeverd

[2022-04-11 07:59] #1590 closed, assigned to dl239, keyu813

[2022-04-11 10:16] dl239 opened #1610 "Execute drop function failed if deployment reference it"
deployment will run failed if relevant function has been dropped. so we should check if there are any deployments referred when drop the function.
known issue in #1509

[2022-04-12 03:57] zhanghaohit opened #1612 "`RequestAggUnion` cannot run as a ClusterTask"
**Bug Description**
`RequestAggUnion` is always built as a local task based on the assumption that the request would be routed to the right tablet, which, however, is not true. See #1604

**Expected Behavior**
`RequestAggUnion` should be able to re-routed to the right tablet server as a remote sub-task.

[2022-04-12 04:22] zhanghaohit commented on #1612
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-04-12 07:18] #1218 closed, assigned to zhanghaohit, Leowner

[2022-04-12 07:18] #1219 closed, assigned to zhanghaohit, Leowner

[2022-04-12 07:18] #1220 closed, assigned to zhanghaohit, Leowner

[2022-04-12 07:18] #1221 closed, assigned to zhanghaohit, Leowner

[2022-04-12 07:18] #1525 closed, assigned to nautaa

[2022-04-12 11:50] #1548 closed, assigned to zhanghaohit

[2022-04-12 11:50] #1612 closed, assigned to zhanghaohit

[2022-04-13 09:20] #1393 closed, assigned to dl239

[2022-04-13 11:24] Leowner opened #1624 "MemTableWindowIterator::Seek will not set record_idx_ properly"
**Bug Description**

In `MemTableWindowIterator::Seek` and `DiskTableRowIterator::Seek`, it doesn't set `record_idx_`. Which means it will be inaccurate in `Valid` function with latest ttltype.

**Expected Behavior**
 For `Seek`, We have to do the following to make it right:
1. `SeekToFirst`
1. `Next` until `ts == key` while checking valid

[2022-04-14 02:21] zhanghaohit commented on #1586
pre-aggregation logics (in `src/storage/aggregation` and `hybridse/vm/aggregation`) should be updated too.

[2022-04-14 04:17] aceforeverd commented on #1624
will you fix ? @Leowner

[2022-04-14 08:24] tobegit3hub opened #1629 "Enable multi-threads for offline will get inconsistent result"
**Bug Description**

If we submit offline job with multi-threads(set executor.cores more than 1), the result is incorrect. All the window output columns may be inconsistent and the project columns are consistent.

Here is the test SQL.

[code]

And the inconsistent output columns are like these.

[code]

[2022-04-14 08:57] KaidoWang opened #1630 "standalone python sdk,show deployment deployname, RS error"
**Bug Description**
This result object does not return rows. It has been closed automatically.

**Expected Behavior**
return information about deployment

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-14 15:06] aceforeverd commented on #1630
should resolved already in #1584
@KaidoWang pls provide a few testing code so we can dig more

[2022-04-15 03:08] tobegit3hub opened #1632 "Get unexpected long overflow for offline job when enabling UnsafeRowOpt"
**Bug Description**

Here is the test SQL.

[code]

And we will get the exception like this.

[code]

Here is the debug info when we try to access the internal object.

<img width="724" alt="Screen Shot 2022-04-15 at 10 50 05 AM" src="https://user-images.githubusercontent.com/2715000/163511984-998970c4-3825-4f7f-9c98-3f9b91a4f26a.png">

[2022-04-15 03:56] tobegit3hub commented on #1632
Simplify the test case to reproduce the issue.

Here is the input data.

[code]

Here is the SQL.

[code]

We can reproduce the issue by only enable unsafe row opt.

[code]

[2022-04-15 06:02] #1607 closed, assigned to aceforeverd

[2022-04-15 06:28] tobegit3hub commented on #1632
There are null data in timestamp column. We can simplify the data with the following SQL.

[code]

[code]

[2022-04-15 07:38] keyu813 opened #1633 "recover global var failed when restart cluster"
<img width="333" alt="image" src="https://user-images.githubusercontent.com/60570208/163539952-de2f4296-1c69-464f-a779-3ab5ca14767d.png">
steps：

1. start onebox, globalvar init succeed

2. stop onebox and restart onebox, global recover failed

[2022-04-15 07:59] #1459 closed, assigned to nobody

[2022-04-15 08:02] dl239 opened #1635 "create function test run failed in coverage"
<img width="807" alt="WX20220415-160157@2x" src="https://user-images.githubusercontent.com/6183996/163543363-074f4d17-07e1-4696-aea7-43d0538cab45.png">

[2022-04-15 08:20] tobegit3hub commented on #1632
There is a bug for codec when window over window.

[code]

The last line of the above code should check null for `inputRowIndex` instead of `outputColIndex` which may get incorrect null value of the row.

[2022-04-15 08:49] tobegit3hub opened #1638 "Core when enable UnsafeRowOpt for continuous window over window"
**Bug Description**

Enable UnsafeRowOpt format and get core dump for the following SQL.

[code]

There is core in C++ and we should inspect the underlying memory format.

[code]

[2022-04-15 09:14] tobegit3hub commented on #1638
Simplify the SQL like this.

[code]

Run with spark config.

[code]

And this data may cause the core dump.

[code]

[2022-04-15 11:22] tobegit3hub commented on #1587
We have the similar issue when executing `at` function for merged window. This SQL will crash in offline when enable UnsafeRowOpt.

[code]

Here is the test data.

[code]

However, we can get expected result when disabling UnsafeRowOpt.

[code]

Refer to https://github.com/4paradigm/OpenMLDB/issues/1638 .

[2022-04-15 13:44] kitty-eu-org opened #1639 "feat: Add a UDF function similar to Hive get_json_object"
**Describe the feature you'd like**

A clear and concise description of what you want to happen.
Add a UDF function similar to hive's get_json_object function, input json string, and output the parsed string

**Additional context**

Add any other context or screenshots about the feature request here.
<img width="1211" alt="image" src="https://user-images.githubusercontent.com/46663318/163578149-42

[2022-04-16 02:59] aceforeverd opened #1641 "stability issue: onebox tablet goes offline after 12h, after onebox restart, can not find tablet node correctly"
**Bug Description**

a few problems:
1. the cli produce error:
[code]
2. `show components` fails with:
[code]
3.   query or insert data to a existing table will fail
[code]
4. during restart, some system table won't recover,
[code]

5. on onebox restart, there are errors in log:

   ns:
[code]

   tablet:
[code]

[2022-04-16 07:06] wuxiaobai24 commented on #787
I would like to help

[2022-04-18 02:29] #1635 closed, assigned to nobody

[2022-04-18 02:31] zhanghaohit opened #1644 "apply `storage mode` of `CreatePlanNode` to `TableInfo` when creating table"
**Describe the feature you'd like**

After #1483 is merged, have to adapt `CreatePlanNode` to pass the `storage mode` down

**Additional context**

`NodeAdapter::TransformToTableDef`

[2022-04-18 02:31] zhanghaohit commented on #1644
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - storage engine](https://trello.com/c/UxAMvWh5/5-long-time-window-storage-engine)

[2022-04-18 02:37] aceforeverd commented on #1416
move to next milestone due to workload

[2022-04-18 02:37] aceforeverd commented on #1417
move to next milestone due to workload

[2022-04-18 02:40] aceforeverd commented on #1633
I got the same problem sometimes in #1641

[2022-04-18 02:50] aceforeverd commented on #1639
thank you. This will be part of built-in json functions

[2022-04-18 02:52] tobegit3hub opened #1646 "Fail to execute `create database if not exists` in SDK"
Now we can use `create database if not exists` but not in SDK.

Test with Java SDK and get the following error.

<img width="914" alt="Screen Shot 2022-04-14 at 6 21 28 PM" src="https://user-images.githubusercontent.com/2715000/163746832-11b042a9-9a8a-471b-a7d1-2218e75b723b.png">

[2022-04-18 02:56] aceforeverd commented on #1633
I got the problem when there are old files of previous tablet/nameserver data, e.g `tablet*/recycle-bin*`.
Delete those files and start a fresh cluster won't fail. So this might related to recovery

[2022-04-18 02:56] tobegit3hub commented on #1646
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-dihao](https://trello.com/c/NcZTvHzh/16-bugfix-dihao)

[2022-04-18 02:57] tobegit3hub commented on #1638
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-dihao](https://trello.com/c/NcZTvHzh/16-bugfix-dihao)

[2022-04-18 02:58] tobegit3hub commented on #1632
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-dihao](https://trello.com/c/NcZTvHzh/16-bugfix-dihao)

[2022-04-18 02:59] tobegit3hub commented on #1629
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-dihao](https://trello.com/c/NcZTvHzh/16-bugfix-dihao)

[2022-04-18 03:06] aceforeverd commented on #1641
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-liguo](https://trello.com/c/Ut8UamBY/37-bugfix-liguo)

[2022-04-18 08:04] vagetablechicken opened #1648 "build: fix the message when icu package not found"
https://github.com/4paradigm/OpenMLDB/blob/3fc54ff04164cd1bc368ad451b1ee55a1e08abc5/CMakeLists.txt#L208-L210

If we can't find icu package, we will try to find the libraries one by one.
But the message is confused, users might think it's a build error. Plz fix it.

e.g.
"ICU package Not Found" -> "ICU find_package failed, try to use find_library to find"

[2022-04-18 08:14] zhanghaohit opened #1649 "add storage mode info in sql `desc`"
**Describe the feature you'd like**

show storage mode info in `desc` sql command

**Additional context**

disk table feature

[2022-04-18 10:14] aceforeverd opened #1650 "online/offline consistency: `NULL` returned online while is empty string offline"
**Bug Description**

[code]

**Expected Behavior**

same result

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-19 01:53] zhanghaohit commented on #1624
Yes. We'll fix it later.

[2022-04-19 02:21] dl239 opened #1653 "not add table to catalog after change role"
if a tablet restart, cannot select correct data.
![WX20220419-102047](https://user-images.githubusercontent.com/6183996/163907307-4a365ea1-e88b-4300-ac95-2d12cd4f514b.png)
![WX20220419-102115](https://user-images.githubusercontent.com/6183996/163907328-aa74f95c-0a0b-4faa-9397-80b9ecbadd4a.png)

[2022-04-19 03:00] #1473 closed, assigned to dl239

[2022-04-19 03:06] zhanghaohit opened #1654 "support count(*) in pre-aggregation/long window"
**Describe the feature you'd like**

Currently we only support aggregation over single column.

**Additional context**

long-window aggregation

[2022-04-19 06:32] dl239 opened #1656 "Add `SHOW FUNCTIONS` command"
Add `SHOW FUNCTIONS` command to display all udf function

[2022-04-19 07:49] #1582 closed, assigned to Leowner

[2022-04-19 07:57] zhanghaohit opened #1657 "Aggregator recover fail when base_table is older than aggr_table"
**Describe the feature you'd like**

When the table has multiple replicas, when one fails, the leader may change. New leaders of the base_table and aggr_table may be different, causing the base_table may be older than the aggr_table.

We have to invalid the affected entries in the aggr_table, and re-compute to make it right.

**Additional context**

long-window support

[2022-04-19 08:01] zhanghaohit opened #1658 "duplicate `Put` code for inserting aggr_table"
**Describe the feature you'd like**

Now `aggregator` uses the `Table::Put` API to put the data, and manually calls the `replicator` APIs to write to the log. Duplicate logics with the `Tablet::Put`.

We have to extract a common function to achieve the same objective.

[2022-04-19 08:20] wuxiaobai24 opened #1659 "Memory leak in zk_client.cc"
**Bug Description**
`zoo_get_children` will allocate memory in `struct String_vector`, we need to use `deallocate_String_vector` to free memory by ourself.

https://github.com/4paradigm/OpenMLDB/blob/4403222f75820d971bf00ed7c0af4c73391eb6b1/src/zk/zk_client.cc#L498
https://github.com/4paradigm/OpenMLDB/blob/4403222f75820d971bf00ed7c0af4c73391eb6b1/src/zk/zk_client.cc#L523

There are two place to c

[2022-04-19 09:04] #787 closed, assigned to nobody

[2022-04-19 09:41] KaidoWang opened #1661 "c++ udf: frist create function, tablet restart,function existence, but function invalid"
**Bug Description**
<img width="1138" alt="image" src="https://user-images.githubusercontent.com/37789023/163975765-bd61b2e1-4dfb-4c6d-a868-3426fb9c4111.png">
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/37789023/163975841-748d3672-f519-4a40-b545-d4d670fee6e2.png">

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-19 10:04] KaidoWang opened #1662 "c++ udf: frist create function, ns restart,function existence, but function invalid"
**Bug Description**
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/37789023/163979783-64fccbf1-fdb0-4291-b4ec-cd45c5710b09.png">

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-19 12:51] #1244 closed, assigned to zhanghaohit, Leowner

[2022-04-19 12:51] #1245 closed, assigned to zhanghaohit, Leowner

[2022-04-19 12:51] #1246 closed, assigned to zhanghaohit, Leowner

[2022-04-19 12:51] #1247 closed, assigned to zhanghaohit, Leowner

[2022-04-20 01:13] #1659 closed, assigned to aceforeverd

[2022-04-20 02:43] #1235 closed, assigned to aceforeverd

[2022-04-20 02:43] #1236 closed, assigned to aceforeverd

[2022-04-20 02:43] #1269 closed, assigned to aceforeverd

[2022-04-20 07:36] tobegit3hub opened #1666 "Support Spark master as local[*] in TaskManager"
Now TaskManager will check `spark.master` and `local[*]` is not supported yet.

[code]

[2022-04-20 07:39] #1644 closed, assigned to zhanghaohit

[2022-04-20 07:39] #1649 closed, assigned to zhanghaohit

[2022-04-20 07:49] #1632 closed, assigned to tobegit3hub

[2022-04-20 07:56] dl239 opened #1667 "Optimize the test case"
`tablet_impl_test` running time is too long
<img width="598" alt="image" src="https://user-images.githubusercontent.com/6183996/164179063-724557f0-11f1-4f63-a388-ebf6ef887042.png">

[2022-04-20 09:25] zhanghaohit opened #1669 "Pre-aggr table still exists if deploy failed"
**Bug Description**
Now we create the `pre-aggr` table before `CreateProcedure`. If `CreateProcedure` fails, we didn't delete the related pre-aggr tables.

**Expected Behavior**
We should delete the `pre-aggr` table if `CreateProcedure` fails.

[2022-04-20 10:21] zhanghaohit opened #1670 "With long window, aggregator is not reset for every run"
**Bug Description**
With long-window optimization, second run result is added on top of the previous runs.

**Expected Behavior**
reset after every run

[2022-04-20 10:25] zhanghaohit opened #1671 "segment fault if aggr table exists but empty"
**Bug Description**
For some special cases, if `key` does not in aggr table, the iterator is null. Should do the check and use the base table only.

[2022-04-20 11:20] nautaa opened #1673 "delete key in pre-aggr table when delete occur in base table"
**Bug Description**
aggregator is not supported `delete` yet, base and aggregate tables should be kept consistent.

**Expected Behavior**
when delete on base table, pre-aggr table and aggregator should invalid these rows.

**Steps to Reproduce**

1.
2.
3.
4.

[2022-04-20 14:41] lumianph commented on #1648
this issue should be closed? @vagetablechicken @aceforeverd

[2022-04-20 14:52] lumianph opened #1674 "doc about developing built-in aggregate functions"
@zhanghaohit @aceforeverd
I suppose one of you needs to write the related doc that how to develop built-in aggregate functions :-D
We have a few aggregate functions to be developed by contributors (median, mean, std, percentile #1371 )

[2022-04-20 14:54] lumianph commented on #1674
you may merge into this doc if possible https://openmldb.ai/docs/zh/v0.4/developer/built_in_function_develop_guide.html

[2022-04-20 15:31] #1670 closed, assigned to zhanghaohit

[2022-04-20 15:31] #1671 closed, assigned to zhanghaohit

[2022-04-21 02:39] #1653 closed, assigned to nobody

[2022-04-21 07:42] #1547 closed, assigned to aceforeverd

[2022-04-21 07:43] #1656 closed, assigned to nobody

[2022-04-21 07:53] tobegit3hub opened #1687 "Use simple expressions for join equality condition is supported"
Now we can join with condition `t1.c1 >= t2.c1 * 1000` but not `t1.c1 = t2.c1 * 1000`.

[2022-04-21 08:31] kfiring opened #1690 "complain HADOOP_CONF_DIR not set error even configured hadoop.conf.dir"
**Bug Description**
i configured hadoop.conf.dir of taskmanager.properties, but jobs still complain about "When running with master 'yarn' either HADOOP_CONF_DIR or YARN_CONF_DIR must be set in the environment."
![image](https://user-images.githubusercontent.com/20376105/164413992-633d5128-1808-419e-8501-56e264845053.png)

**Expected Behavior**
job execute normally

**Steps to Reproduce**

1.
2.
3

[2022-04-21 09:08] aceforeverd commented on #1648
resolved in #1651

[2022-04-21 09:08] #1648 closed, assigned to nobody

[2022-04-21 09:35] tobegit3hub opened #1692 "Fail to run simple expression for constant column in offline"
Now we can not run `cut2("100")` in offline and get the following error.

[code]

[2022-04-21 09:42] vagetablechicken commented on #1435
pulsar merged

[2022-04-21 09:42] #1435 closed, assigned to vagetablechicken

[2022-04-21 09:46] vagetablechicken commented on #666
closed by #1231

[2022-04-21 09:46] #666 closed, assigned to dl239

[2022-04-21 10:03] vagetablechicken opened #1693 "JDBC: support connect to standalone"
Ref python sdk, use parameters `host` & `port` to connect standalone.

You should parse and add standalone options in `createOptionByProps`, see
https://github.com/4paradigm/OpenMLDB/blob/64da36c3437176993533501fdeb7fda412484773/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLDriver.java#L45-L59

[2022-04-21 11:44] keyu813 commented on #1633
GlobalVarTable support  recover when some tablets offline, don't support recover if all tablets failed yet
<img width="831" alt="image" src="https://user-images.githubusercontent.com/60570208/164451895-cbc50b03-b03d-4d3a-bede-8bf299f51ef4.png">
<img width="366" alt="image" src="https://user-images.githubusercontent.com/60570208/164451966-e131dae0-1265-47b1-bf4e-dd4783f8cac7.png">

[2022-04-22 01:09] #1530 closed, assigned to nobody

[2022-04-22 01:12] dl239 commented on #1350
duplicate with #1419

[2022-04-22 01:12] #1350 closed, assigned to nobody

[2022-04-22 01:14] #1257 closed, assigned to dl239

[2022-04-22 01:24] #113 closed, assigned to nobody

[2022-04-22 01:28] #49 closed, assigned to nobody

[2022-04-22 03:47] aceforeverd opened #1695 "do not use global gflags to init Tablet Sever"
**Describe the feature you'd like**

A clear and concise description of what you want to happen.

Tablet Server Init reply on global variables: https://github.com/4paradigm/OpenMLDB/blob/fd5ae211b09b316bd64f2a705d6e6f8fb27d1db6/src/tablet/tablet_impl.cc#L177-L186, which is not a good practise e.g mock two tablet in same process for UT.

Generally, tablet/nameservre internally should not rely on gl

[2022-04-22 04:09] dl239 opened #1696 "`Traverse` may get duplicate data if there are same ts records on one pk"
* `Traverse` may get duplicate data if there are same ts records on one pk
*  `Traverse` may run in endless loop if there are many same ts records on one pk

[2022-04-22 04:15] dl239 opened #1697 "Delete `SQLClusterRouter` from nameserver"
we should use `FullTableIterator` instead  of `SQLClusterRouter` in nameserver to get all data form specific table
the following works need to do:
* delete `sr_` in src/nameserver.cc and src/nameserver.h
* use `FullTableIterator` to get all data instead of [`ExecuteSQLParameterized`](https://github.com/4paradigm/OpenMLDB/blob/main/src/nameserver/name_server_impl.cc#L10661)
* use tablet client put

[2022-04-22 06:04] lumianph commented on #1531
@samyberkane04 any progress on this issue?

[2022-04-22 06:56] dl239 commented on #1131
It need to check ttl in [`HandleDeploy`](https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/sql_cluster_router.cc#L2883) function if relevant tables exist

[2022-04-22 07:17] dl239 commented on #1695
there are many gflag configuration in src/flag.cc.  if all conf items passed by parameters or struct is inconvenience and complex. if the purpose is mock tablet, we should find another way or pass often modified parameters only

[2022-04-22 07:32] tobegit3hub opened #1699 "Support register external function for offline"
RT

[2022-04-22 07:35] dl239 commented on #1641
* [1] show that CLI fail to connect zk due zk timeout
* [2] cannot get node or children by zk client
so we can conclude that zk cannot work normally in that time.

OpenMLDB cannot recover table if all tablet restart at the same time.  refer [here](https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/backup.md#高可用说明)

[2022-04-22 09:35] aceforeverd commented on #1641
zk connect fail will cause all tablets offline ?

[2022-04-22 10:20] aceforeverd opened #1703 "improve the builtin udf documents for those who want to implement a complex one"
here comes two possible improvement:
1. when should necessary to add third-party lib
2. when should create a separate `udf_<module>.cc` file

[2022-04-24 01:56] zhanghaohit commented on #1670
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-04-24 01:56] zhanghaohit commented on #1671
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - SQL engine](https://trello.com/c/0Ad2TWFJ/4-long-time-window-sql-engine)

[2022-04-24 01:57] zhanghaohit commented on #1649
![](https://github.trello.services/images/mini-trello-icon.png) [long time window - storage engine](https://trello.com/c/UxAMvWh5/5-long-time-window-storage-engine)

[2022-04-24 06:05] aceforeverd commented on #1697
Might not an easy work.

BTW, does `FullTableIterator` support random access for a row e.g `deploy_stats` in `GLOBAL_VARIABLES`

[2022-04-24 06:29] jdmengxiangtao opened #1706 "Who is Using OpenMLDB（欢迎社区成员留言反馈）"
[code]

[2022-04-24 06:30] #1706 closed, assigned to nobody

[2022-04-24 07:19] aceforeverd opened #1707 "ci: add workflow for documents"
**Describe the feature you'd like**

two relative document workflow jobs needed:
-  [x] compile with myst for documents in `docs` directory, to do necessary compile-time check
-  [ ] auto generate and create pull request  for udf document changes
    - a comment title that tells developer to change relative code instead the generated markdown

**Other Context**

there is no visual document about h

[2022-04-24 07:53] dl239 commented on #1641
how to conclude all tablets offline

[2022-04-24 07:57] dl239 commented on #1697
you can seek to a specific row with `DistributeWindowIterator`

[2022-04-25 03:01] aceforeverd commented on #1650
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-04-25 03:16] aceforeverd commented on #1641
show components will show tablets offline

[2022-04-25 03:16] aceforeverd commented on #1641
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs](https://trello.com/c/h7opm5kE/45-high-priority-bugs)

[2022-04-25 07:15] tobegit3hub opened #1710 "Fail to support large SQL in TaskManager"
Now we can not run large SQL in TaskManager.

[2022-04-25 07:16] tobegit3hub commented on #1710
![](https://github.trello.services/images/mini-trello-icon.png) [bugfix-dihao](https://trello.com/c/NcZTvHzh/16-bugfix-dihao)

[2022-04-25 07:17] zhanghaohit opened #1711 "Long window Option verification"
**Bug Description**
[code]

If the `long_windows` options don't match any window in the sql, the `deploy` still succeed. It'd be better to add a checking here and return `failed`  when this happens.

**NOTE**

Should be the checking before we do any real action (i.e., create procedure, create pre-aggr table)

[2022-04-25 07:18] tobegit3hub commented on #1629
It is the issue of same timestamp. Removing the duplicated data will get the correct result.

[2022-04-25 07:18] #1629 closed, assigned to tobegit3hub

[2022-04-25 08:29] #1338 closed, assigned to zhanghaohit, nautaa

[2022-04-25 11:24] #1661 closed, assigned to dl239

[2022-04-25 11:24] #1662 closed, assigned to dl239

[2022-04-25 12:01] aceforeverd commented on #1650
not reproduced neither in sql engine or cli
test case:
[code]

it says the `query` output column is `null`, but no, it is empty string as in table storage

[2022-04-25 12:10] vagetablechicken opened #1713 "docs: explain how to start taskmanager in each mode"
e.g.

How to start in yarn/yarn-client mode?

options meaning:
spark.yarn.jars
spark.default.conf=
namenode.uri=
offline.data.prefix=file:///tmp/openmldb_offline_storage/
hadoop.conf.dir=

[2022-04-25 12:19] aceforeverd commented on #1650
@dl239 would you have a test of this case in java sdk ?

[2022-04-25 15:28] zhanghaohit opened #1715 "agg catalog may not refresh when zk notify delay"
**Bug Description**
If the `table change` notification arrives later than the `deploy` query with long window, the complication may be not compiled with long-window optimization

[2022-04-25 15:32] zhanghaohit opened #1716 "The partition_col and order_by_order column name parsed wrongly in long window optimized pass"
**Bug Description**
if `partition by` and `order by` are given in the format of `t1.c1`, we cannot get the aggr meta info, as the `aggregator table` only have the column name , i.e. `c1`

**Steps to Reproduce**
[code]

[2022-04-26 04:05] dl239 opened #1720 "Use dynamic lib name to create function"
[code]

[2022-04-26 07:10] #1666 closed, assigned to tobegit3hub

[2022-04-26 07:10] #1699 closed, assigned to tobegit3hub

[2022-04-26 07:42] keyu813 opened #1722 "query result is wrong if add ts column when add a new index"
**reproduce:
standalone mode：**
1. create table：`create table t1 (id int, c1 string, c2 int, c3 timestamp, c4 timestamp, index(key=(c1),ts=c4))options(partitionnum=1, replicanum=1);`
2. insert data
<img width="580" alt="image" src="https://user-images.githubusercontent.com/60570208/165244445-27a4a92f-3cf4-43f6-8b76-4db417155e0f.png">
3. create index，if add ts column, query result is wrong. if not

[2022-04-26 07:50] aceforeverd commented on #1722
what the result of
[code]
?

[2022-04-26 08:22] keyu813 commented on #1722
cli seems don't support explain `where` statement in standalone mode <img width="829" alt="image" src="https://user-images.githubusercontent.com/60570208/165250510-c0fce6f7-4b9a-4e72-a153-8c5f19365205.png">
but if I add log in src code, the physical plan is
<img width="498" alt="企业微信截图_37f0279a-1f4e-4437-b1a6-a626e5114d81" src="https://user-images.githubusercontent.com/60570208/165255630-aaf59057-

[2022-04-26 09:37] HelenParr opened #1723 "Potential secutiry vulnerabilities in the shared library which openmldb-native depends on."
Hi, @tobegit3hub , @wuyou10206 , I'd like to report a vulnerability issue in **com.4paradigm.openmldb:openmldb-native:0.4.4-hotfix1-allinone**.
### Issue Description
**com.4paradigm.openmldb:openmldb-native:0.4.4-hotfix1-allinone** depends on ***1*** C libraries (.so). However, I noticed that this shared library is vulnerable, containing the following CVEs:

`libsql_jsdk.so` from C project **opens

[2022-04-26 11:14] #1536 closed, assigned to johndinh391

[2022-04-27 03:42] tobegit3hub opened #1726 "Fail to get registered table when enabling sparksql for offline"
Now we can table not found exception when submitting OpenMLDB offline jobs with enabling sparksql.

[2022-04-27 03:48] tobegit3hub commented on #1726
The root reason is that we do not register Spark tables when using OpenMLDB session. If it is registered automatically, it may cause stack over flow.

[2022-04-27 03:49] aceforeverd commented on #1723
Thank you! We'll schedule the openssl upgrade after v0.5.0 release.

[2022-04-27 04:28] dl239 opened #1727 "Add workflow to release openmldb package manually"
it's better to add workflow to release openmldb package manually on specific branch for test

[2022-04-27 06:21] lumianph commented on #1646
![](https://github.trello.services/images/mini-trello-icon.png) [Python SDK enhancement](https://trello.com/c/xlXZPfTf/20-python-sdk-enhancement)

[2022-04-27 06:21] lumianph commented on #1630
![](https://github.trello.services/images/mini-trello-icon.png) [Python SDK enhancement](https://trello.com/c/xlXZPfTf/20-python-sdk-enhancement)

[2022-04-27 06:37] #708 closed, assigned to dl239

[2022-04-27 06:38] aceforeverd commented on #1727
we can use the `workflow_dispatch` trigger event in same workflow
the extra work is add some extra options like branch name

[2022-04-27 07:51] #1720 closed, assigned to dl239

[2022-04-27 09:56] tobegit3hub opened #1728 "Enabling UnsafeRowOpt for SQL with string UDF will core in yarn-cluster mode"
Now we have some issue when enabling UnsafeRowOpt and submitting jobs in yarn-cluster mode.

Here is the crash log.

<img width="1444" alt="Screen Shot 2022-04-24 at 6 03 26 PM" src="https://user-images.githubusercontent.com/2715000/165493064-88244351-9225-4604-b8fb-d38d7c19a43b.png">

[2022-04-27 09:58] tobegit3hub commented on #1728
It only happens for SQL with string UDF and jobs in yarn-cluster mode.

Here is the simple data to reproduce the issue.

[code]

And we have the SQL job.

[code]

We can submit the job to yarn-cluster.

[code]

[2022-04-27 10:32] tobegit3hub commented on #1728
After adding debug code and we found that the gflag of `FLAGS_enable_spark_unsaferow_format` is false when enabling UnsafeRowOpt in yanr-cluster.

<img width="1466" alt="Screen Shot 2022-04-27 at 5 48 14 PM" src="https://user-images.githubusercontent.com/2715000/165499097-27ee01ba-6813-4ff9-b5ec-0d05575ca800.png">

While the value is true when running in local mode.

<img width="722" alt="image" s

[2022-04-27 10:56] tobegit3hub commented on #1728
The driver has set the gflags but it seems that executors have not been set correctly.

<img width="1089" alt="Screen Shot 2022-04-27 at 6 54 23 PM" src="https://user-images.githubusercontent.com/2715000/165503370-79addd1c-dabb-4e54-8a95-e8035df2e271.png">

<img width="1353" alt="Screen Shot 2022-04-27 at 6 54 13 PM" src="https://user-images.githubusercontent.com/2715000/165503392-0b92297e-5688-43

[2022-04-28 06:32] #1728 closed, assigned to tobegit3hub

[2022-04-28 07:51] keyu813 opened #1732 "abs_ttl seems won't make effect"
<img width="957" alt="image" src="https://user-images.githubusercontent.com/60570208/165703912-710e1a91-141b-4490-a709-e52b587d11c6.png">
expect ttl=1min but get ttl=0min

lat_ttl doesn't have this problem

[2022-04-28 08:52] tobegit3hub opened #1734 "Output data is null when using external UDF in offline"
Now we can null data for external UDF in offline.

Here is the SQL to reproduce the issue. Create the simple csv and provide the udf library file first.

[code]

[2022-04-28 10:16] tobegit3hub commented on #1630
Thanks @aceforeverd . I have test with the latest package and this has been fixed.

[2022-04-28 10:16] #1630 closed, assigned to tobegit3hub

[2022-04-28 10:23] tobegit3hub commented on #1646
Test with latest package for Java SDK and Python SDK and it works like a charm.

[2022-04-28 10:23] #1646 closed, assigned to tobegit3hub, dl239

[2022-04-28 10:25] lumianph commented on #1520
## [0.4.4] - 2022-04-01

### Features
- Support the standalone version by Java and Python SDKs (#1302 #1325 #1485 @tobegit3hub @HuilinWu2 @keyu813)
- Support the blocking execution for offline queries (#1486 @vagetablechicken )
- Add the `getStatement` API in Java SDK (#1231 @dl239 )
- Support multiple rows insertion in the Python SDK (#1402 @hezhaozhao-git )
- Support the JDBC connection (#1511 @

[2022-04-28 14:55] lumianph commented on #1723
@HelenParr  thank you for the reporting

[2022-04-29 02:58] #1419 closed, assigned to dl239

[2022-04-29 06:51] #1674 closed, assigned to zhanghaohit, aceforeverd

[2022-04-29 09:30] dl239 opened #1740 "Start `TaskManager` failed if set `spark.home` in conf/taskmanager.properties"
**Bug Description**
`TaskManager` start failed although `spark.home` has been set in conf/taskmanager.properties

![WX20220429-172738](https://user-images.githubusercontent.com/6183996/165919135-8424fabe-2f82-43b9-92c2-f6ec6d17aef6.png)

the error log disappeared if set `SPARK_HOME`

**Expected Behavior**

start success

[2022-04-29 10:21] aceforeverd commented on #1587
the case runs correctly in sql engine

[2022-04-29 10:45] aceforeverd commented on #1641
To be discussed next milestone

[2022-05-02 01:26] wuyou10206 opened #1742 "Processing of Chinese special characters"
**Bug Description**
Some Chinese special characters failed to insert into the large disk openmldb
<img width="1154" alt="wecom-temp-54a0b24c1f233d8c489a2c987cac4880" src="https://user-images.githubusercontent.com/18275570/166173923-587a8826-aeaf-4c03-bfd9-20f38fcb165f.png">

**Expected Behavior**
Insert Success

**Steps to Reproduce**
1.   String insertSql = "INSERT INTO test2 VALUES ('Ami \uD83D\

[2022-05-02 02:03] dl239 commented on #1732
use `ttl`, refer [here](https://openmldb.ai/docs/zh/v0.4/reference/sql/ddl/CREATE_TABLE_STATEMENT.html)

[2022-05-02 12:11] zjx1319 commented on #1531
Is anyone working on this issue? If not, I want to have a try

[2022-05-02 13:21] aceforeverd commented on #1531
sure, feel free to send the PR

[2022-05-05 02:06] dl239 commented on #1742
it seems from zetasql @aceforeverd

[2022-05-05 02:08] aceforeverd commented on #1742
Yes，should write in another way, will check

[2022-05-05 02:09] #1531 closed, assigned to zjx1319

[2022-05-05 02:49] dl239 commented on #515
- add watch to ns leader [node](https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/db_sdk.cc#L254)
- update [ns_client](https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/db_sdk.h#L120) if nameserver leader changed.

[2022-05-05 03:37] keyu813 commented on #1722
this bug doesn't exist in the latest main branch

[2022-05-05 03:37] #1722 closed, assigned to dl239

[2022-05-05 06:53] tobegit3hub commented on #1317
Now we can get all the table names from internal db.

It would be better to add code in line 36 and check the table name like this.

[code]

[2022-05-05 06:59] tobegit3hub opened #1745 "Show jobs may get results in random order"
Now we execute the command `show jobs` will get jobs in random order. Here is the code of implementation.

<img width="710" alt="wecom-temp-2cc27b7fb5dfa531934964bdb5035693" src="https://user-images.githubusercontent.com/2715000/166875751-ec3d8d10-628b-4d7d-b2e6-943d28ad33d9.png">

Since `order by` is not supported in online mode, we may support this later.

[code]

[2022-05-05 08:05] aceforeverd commented on #1742
surrogate(`U+d800 .. U+dfff`) is (and should) not supported by zetasql.
The `\uD83D\uDC90`, which is a utf-16 surrogate pair, should converted into UTF-8,
check the C code in the last https://unicodebook.readthedocs.io/unicode_encodings.html#utf-16-surrogate-pairs

[2022-05-05 10:18] #1356 closed, assigned to jingchen2222, aceforeverd

[2022-05-05 10:24] aceforeverd commented on #1650
problem of input csv data

[2022-05-05 10:24] #1650 closed, assigned to dl239, aceforeverd

[2022-05-05 10:27] aceforeverd commented on #1522
update with current warnings:
![wecom-temp-78ce6cfe0cc8aaf2fee4892db591ae42](https://user-images.githubusercontent.com/11715200/166905699-bfbf8312-14d7-431f-83af-6faff86b9493.png)

[2022-05-05 10:39] #1587 closed, assigned to aceforeverd

[2022-05-05 11:20] dl239 opened #1746 "Remove unused variable"
[`builder`](https://github.com/4paradigm/OpenMLDB/blob/main/hybridse/src/codegen/udf_ir_builder.cc#L492) in `BuildDynamicUdfCall` is unused, which should be delete.

[2022-05-06 03:22] dl239 opened #1747 "`session variables` have not update if `global variables` is set"
![df8e44ef1673f57694e218a467e49c51](https://user-images.githubusercontent.com/6183996/167061591-fc359a5b-1226-4258-b380-c1d4bdac2b5d.png)

[2022-05-06 06:19] tobegit3hub commented on #1734
It is the issue of registering the incorrect dynamic library file.

Now resolved by https://github.com/4paradigm/OpenMLDB/pull/1733 .

[2022-05-06 06:33] #1554 closed, assigned to aceforeverd

[2022-05-06 06:41] #1715 closed, assigned to zhanghaohit

[2022-05-06 06:41] #1716 closed, assigned to zhanghaohit

[2022-05-06 06:53] #1711 closed, assigned to nautaa

[2022-05-06 08:28] dl239 opened #1753 "Init `deploy_stats` in nameserver"
`deploy_stats` has not been inited in [InitGlobalVarTable](https://github.com/4paradigm/OpenMLDB/blob/main/src/nameserver/name_server_impl.cc#L10574)

[2022-05-06 08:29] aceforeverd commented on #1753
Noted !

[2022-05-06 11:27] #1734 closed, assigned to tobegit3hub

[2022-05-06 15:20] #1654 closed, assigned to zhanghaohit, nautaa

[2022-05-07 02:08] #1747 closed, assigned to dl239

[2022-05-07 02:22] dl239 commented on #1740
should start with `bin/start.sh start taskmanager`

[2022-05-07 02:22] #1740 closed, assigned to tobegit3hub

[2022-05-07 02:37] keyu813 commented on #1732
absolute ttl should use `ttl` not `abs_ttl`

[2022-05-07 02:37] #1732 closed, assigned to dl239, vagetablechicken

[2022-05-07 04:29] vagetablechicken opened #1758 "set the constant in getSQLStateType"
https://github.com/4paradigm/OpenMLDB/blob/9389d90c260ec395c32cbae4d98a42a001183a16/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/DatabaseMetaData.java#L1014-L1016

`return 0;` is not good. Change it to `sqlStateSQL99`.

[2022-05-07 04:35] vagetablechicken opened #1759 "check if null in PreparedStatement"
https://github.com/4paradigm/OpenMLDB/blob/9389d90c260ec395c32cbae4d98a42a001183a16/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/PreparedStatement.java#L274-L277

`currentRow` may be null, check it before call `GetSchema`. If it's null, throw an exception.

And then, Line 279 `this.currentRow == null` below is useless. Delete it.

https://github.com/4paradigm/OpenMLDB/blob/9389d90

[2022-05-07 04:42] vagetablechicken opened #1760 "remove unused code in SimpleResultSet"
https://github.com/4paradigm/OpenMLDB/blob/9389d90c260ec395c32cbae4d98a42a001183a16/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java#L38
https://github.com/4paradigm/OpenMLDB/blob/9389d90c260ec395c32cbae4d98a42a001183a16/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java#L60
Types is unused. And type parameter '<T>' is unused too. D

[2022-05-07 06:45] XuanheZhou opened #1761 "Solve problems in SQL commands"
I find two problems when using the explain+sql commands via terminal

(1) Need to click the "enter" key twice before seeing the explain results:

127.0.0.1:6527/test> explain select * from test;
127.0.0.1:6527/test> 	DATA_PROVIDER(request=test)

(2) Need to split the sql with the semicolon (;) with a character (e.g., an enter key or space), otherwise it will report errors:

127.0.0.1:6527/test> se

[2022-05-07 08:16] aceforeverd commented on #1761
what's the openmldb version are u using ?

[2022-05-07 08:22] vagetablechicken opened #1762 "use constant instead of int in SimpleResultSet"
https://github.com/4paradigm/OpenMLDB/blob/43f2d6a46c02dc8165a92815862d87470dbf4b0f/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java#L368-L371
set it to `FETCH_UNKNOWN`

https://github.com/4paradigm/OpenMLDB/blob/43f2d6a46c02dc8165a92815862d87470dbf4b0f/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java#L384-L386
set it to `TYPE_FOR

[2022-05-07 08:31] XuanheZhou commented on #1761
0.4.4 in docker (4pdosc/openmldb:0.4.4)

[2022-05-07 08:35] vagetablechicken opened #1763 "docs: add index explanations in sql `desc`"
add explanations in [DESC_STATEMENT](https://github.com/4paradigm/OpenMLDB/blob/59fbca2af07bd970edc855f3c1dd0f21268ff17c/docs/zh/reference/sql/ddl/DESC_STATEMENT.md)

add a ref in quickstart

[2022-05-07 08:39] vagetablechicken commented on #1441
closed by #1598

[2022-05-07 08:39] #1441 closed, assigned to nobody

[2022-05-07 09:12] #1000 closed, assigned to tobegit3hub

[2022-05-07 09:12] tobegit3hub commented on #1084
Done.

[2022-05-07 09:12] #1084 closed, assigned to tobegit3hub

[2022-05-07 09:13] tobegit3hub commented on #1145
Resolved.

[2022-05-07 09:13] #1145 closed, assigned to tobegit3hub

[2022-05-07 09:14] tobegit3hub commented on #1183
Resolved.

[2022-05-07 09:14] #1183 closed, assigned to tobegit3hub

[2022-05-07 09:15] tobegit3hub commented on #1566
Resolved.

[2022-05-07 09:15] #1566 closed, assigned to tobegit3hub

[2022-05-07 09:18] tobegit3hub commented on #935
Resolved.

[2022-05-07 09:18] #935 closed, assigned to zhanghaohit

[2022-05-07 09:18] tobegit3hub commented on #904
Resolved.

[2022-05-07 09:18] #904 closed, assigned to nobody

[2022-05-07 11:00] aceforeverd commented on #1032
refer #1598

[2022-05-07 11:00] #1032 closed, assigned to aceforeverd

[2022-05-07 11:36] aceforeverd commented on #1477
fixed in #1584

[2022-05-07 11:36] #1477 closed, assigned to aceforeverd

[2022-05-07 11:45] aceforeverd commented on #678
resolved in #1615

[2022-05-07 11:45] #678 closed, assigned to aceforeverd

[2022-05-07 13:21] aceforeverd commented on #210
use `set @@enable_trace = 'false'`

[2022-05-07 13:21] #210 closed, assigned to jingchen2222

[2022-05-07 13:24] aceforeverd commented on #619
better run tests locally on ubuntu image, closing

[2022-05-07 13:24] #619 closed, assigned to zhanghaohit

[2022-05-07 13:28] aceforeverd commented on #675
feature has completed #1448

[2022-05-07 13:28] #675 closed, assigned to HuilinWu2

[2022-05-08 11:34] #1746 closed, assigned to nobody

[2022-05-08 12:45] SaumyaBhushan commented on #1762
How can I set it ?

[2022-05-08 12:50] SaumyaBhushan commented on #1760
Please assign it to me.

[2022-05-09 02:32] lumianph commented on #1760
@SaumyaBhushan i have assigned to you, looking forward to your PR

[2022-05-09 02:34] lumianph commented on #1761
@aceforeverd pls help reproduce and confirm this issue?

[2022-05-09 02:35] lumianph commented on #1762
@SaumyaBhushan  you want to take this issue as well?

[2022-05-09 02:50] zhanghaohit opened #1767 "Fix typo of `PhysicalAggrerationNode`"
**Bug Description**
`PhysicalAggrerationNode` in `hybridse/include/vm/physical_op.h` should be `PhysicalAggregationNode`

**Expected Behavior**
Change all occurrences of `PhysicalAggrerationNode` to `PhysicalAggregationNode`

[2022-05-09 03:30] SaumyaBhushan commented on #1762
I am not sure how can I set those values that you have recommended in the issue. Actually, I'm new to this. If you can guide I can take up this issue.

[2022-05-09 03:34] aceforeverd commented on #1761
reproduced.

looks like the sql is incomplete. May you pls provide the complete sql in single line ?
I reproduced with
[code]
will check the reason

[2022-05-09 04:22] lumianph commented on #1762
you just return the pre-defined constant (such as `return FETCH_UNKNOWN` in the first code block), instead of `return 0`

[2022-05-09 04:25] SaumyaBhushan commented on #1762
Thanks, @lumianph. Please assign it to me.

[2022-05-09 07:30] SaumyaBhushan commented on #1762
Hey @lumianph @vagetablechicken please review https://github.com/4paradigm/OpenMLDB/pull/1768

[2022-05-09 08:25] tobegit3hub commented on #1638
Get the similar issue when this data.

[code]

[2022-05-09 09:53] dl239 commented on #1606
done in #1700

[2022-05-09 09:53] #1606 closed, assigned to tobegit3hub

[2022-05-09 10:08] tobegit3hub commented on #1638
I have addressed the issue. It is the problem in `StringColumnImpl.GetField` which will get schema index as the row index. Since UnsafeRowOpt uses single slice row format and getting the non-zero slice will throw exception. Here is the added test code.

![image](https://user-images.githubusercontent.com/2715000/167388697-cdc159e4-d8e1-4284-b43f-3ffab1632798.png)

[2022-05-09 13:02] dl239 opened #1775 "Remove unused gflag variable"
`enable_timeseries_table` is unused currently. it need to delete from the following files:
- src/flags.cc
- src/nameserver/standalone_test.cc
- src/nameserver/name_server_test.cc
- src/nameserver/name_server_impl.cc

[2022-05-09 13:53] bxiiiiii commented on #1775
Please assign it to me.

[2022-05-09 14:00] aceforeverd opened #1776 "window with union: ordering for union rows and original rows with the same order key is undefined"
**Bug Description**

in https://github.com/4paradigm/OpenMLDB/blob/361f44d433c2a7682a1ede4792afb8df4d1d5c74/hybridse/src/vm/runner.cc#L1530, union rows in rows filters out those with the same order key with current row,

a correct case should be:
[code]

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-09 14:52] lumianph commented on #1775
@bxiiiiii  looking forward to your PR

[2022-05-09 15:34] aceforeverd commented on #1776
Solution:

should add classification for window union.

In an union window:
[code]
- we call rows in `<window definition>` as `original rows`, and `union rows` for window union
- `union rows` may come from multiple datasource, e.g. `(UNION t2, t3 ...)`
- we say row A is before row B, means row A is more close to the `current row` from corresponding window

For Window Union:

- It is `UNION ALL`
-

[2022-05-09 17:25] vighnesh-kadam commented on #1759
Can you please assign this to me ? I need to just put the "if codeblock" from line 279 to line 275 right?

[2022-05-10 01:24] lumianph commented on #1759
@vighnesh-kadam  i have assigned to you. You can use `if` to check the null according to the description above

[2022-05-10 01:25] lumianph commented on #1762
thanks~

[2022-05-10 01:47] #1775 closed, assigned to bxiiiiii

[2022-05-10 01:59] lumianph opened #1778 "Contributor Challenges (Collection-3)"
The OpenMLDB project is a community-driven project, thus we welcome all kinds of contribution from the community. We have started an OpenMLDB Contributor Program, which provides rewards to encourage you to join our community.

Here is the explanation about this program (we also provide [a Chinese version here](https://mp.weixin.qq.com/s?__biz=MzkwMDM1MjQwMw==&mid=2247483714&idx=1&sn=425f2f8cf542b0

[2022-05-10 03:04] SaumyaBhushan commented on #1758
I would like to help

[2022-05-10 03:07] SaumyaBhushan commented on #1317
I would like to work on this issue.

[2022-05-10 06:35] #1638 closed, assigned to tobegit3hub

[2022-05-10 07:23] tobegit3hub opened #1780 "Window with union for same timestamp will get unpredictable result for offline"
Now we have inconsistency for online and offline tests. If we use window with union meanwhile the main table and secondary tables have same timestamp data, we will get unpredictable result.

Example SQL like this.

[code]

[2022-05-10 08:12] #1762 closed, assigned to SaumyaBhushan

[2022-05-10 09:21] #1131 closed, assigned to dl239

[2022-05-10 11:07] aceforeverd commented on #1780
I try give the definition for it: https://github.com/4paradigm/OpenMLDB/issues/1776#issuecomment-1121258571
pls comment on that

[2022-05-10 11:22] zhanghaohit opened #1783 "aggregator forgot to reset if table is empty"
**Bug Description**
if table is empty, aggregator forgot to reset, causing wrong result in the next call.

**Expected Behavior**
reset after every `aggregator->Output`

[2022-05-10 11:54] dl239 opened #1785 "Resolve compiling warnings"
<img width="666" alt="WX20220510-195326@2x" src="https://user-images.githubusercontent.com/6183996/167622474-dce7fdd9-2922-4519-b6d8-7aca5cb2f0b5.png">

[2022-05-10 13:32] aceforeverd opened #1787 "window `OPEN PRECEDING` in frame start border do not take effect"
**Bug Description**

[code]

the case do not pass because it still treat current row inside window when doing window aggregation.
`OPEN PRECEDING` in end frame border seems work as expected though.

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-10 14:52] #1783 closed, assigned to zhanghaohit

[2022-05-11 04:09] wangxinyu666666 commented on #1407
把registerTempTable替换为createOrReplaceTempView即可~

[2022-05-11 06:21] lumianph commented on #1407
pls bring your PR :-D @wangxinyu666666

[2022-05-11 06:28] lumianph opened #1791 "docs: translate the Chinese doc of upgrade.md into English"
1. The source of the Chinese docs is here: https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/upgrade.md
2. The translated English doc should be saved under the path of docs/en/maintain/upgrade.md
3. add the page entry to the file docs/en/maintain/index.rst

[2022-05-11 06:29] lumianph opened #1792 "docs: translate the Chinese doc of backup.md into English"
- The source of the Chinese docs is here: https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/backup.md
- The translated English doc should be saved under the path of docs/en/maintain/backup.md
- add the page entry to the file docs/en/maintain/index.rst

[2022-05-11 06:31] lumianph opened #1793 "docs: translate the Chinese doc of scale.md into English"
1. The source of the Chinese doc is here: https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/scale.md
2. The translated English doc should be saved under the path of docs/en/maintain/scale.md
3. add the page entry to the file docs/en/maintain/index.rst

[2022-05-11 06:33] lumianph opened #1794 "docs: translate the Chinese doc of monitoring.md into English"
1. The source of the Chinese doc is here: https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/monitoring.md
2. The translated English doc should be saved under the path of docs/en/maintain/monitoring.md
3. Add the page entry to the file docs/en/maintain/index.rst

[2022-05-11 06:35] lumianph opened #1796 "docs: translate the Chinese doc of faq.md into English"
1. The source of the Chinese doc is here: https://github.com/4paradigm/OpenMLDB/blob/main/docs/zh/maintain/faq.md
2. The translated English doc should be saved under the path of docs/en/maintain/faq.md
3. Add the page entry to the file docs/en/maintain/index.rst

[2022-05-11 06:38] tobegit3hub commented on #1780
Thanks and it seems like the same issue. We need to handle for online and offline execution engine.

[2022-05-11 06:57] lumianph opened #1797 "the talkingdata demo produces negative results"
![image](https://user-images.githubusercontent.com/3725932/167787196-a155a628-95ea-45d4-a585-64339d6fd429.png)

The trained model file model.json attached as well
[model.txt](https://github.com/4paradigm/OpenMLDB/files/8667429/model.txt)

[2022-05-11 08:01] wangxinyu666666 commented on #1407
https://github.com/4paradigm/OpenMLDB/pull/1798

[2022-05-11 08:39] Leowner opened #1799 "Wrong results in Memtable::GetRecordIdxCnt"
Wrong results in Memtable::GetRecordIdxCnt.

1.  Here `GetRecordIdxCnt` will get RecordIdxCnt for `idx`. But inside this function, it will call `segments_[real_idx][i]->GetIdxCnt();`. Maybe `int GetIdxCnt(uint32_t ts_idx, uint64_t& ts_cnt)` should be used instead of `GetIdxCnt()` for this specific `idx`.
[code]
2. If create an index with two absolute timestamp columns, after `SchedGC` the `GetReco

[2022-05-11 09:18] bxiiiiii commented on #1791
I would like to help.

[2022-05-11 09:19] aceforeverd opened #1801 "add documents for `SHOW COMPONETS` & `SHOW TABLE STATUS`"
**Bug Description**

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-11 11:02] bxiiiiii commented on #1791
Please assign it to me.

[2022-05-11 11:42] vagetablechicken commented on #1200
still get initializer function error on openmldb python sdk 0.5.0, my machine is macos-10.15,

~~ld: warning: object file (/Users/ark/Code/OpenMLDB/.deps/usr/lib/libzetasql.a(unparser.o)) was built for newer macOS version (12.1) than being linked (10.15)~~
~~zetasql is built on 12.1.~~
~~I'll try to use 10.15 zetasql or build bundle in my own machine.~~

Not the root cause, forget it.

[2022-05-12 01:01] dl239 opened #1804 "Rename `procedure` to `deployment`"
Rename `procedure` to `deployment` in src/name_server_impl.cc

https://github.com/4paradigm/OpenMLDB/blob/main/src/nameserver/name_server_impl.cc#L3006
https://github.com/4paradigm/OpenMLDB/blob/main/src/nameserver/name_server_impl.cc#L3017

[2022-05-12 01:34] #1633 closed, assigned to nobody

[2022-05-12 02:40] Mount-Blanc commented on #1804
Hello, I would like to work on this issue.

[2022-05-12 05:02] SaumyaBhushan commented on #1317
@tobegit3hub @lumianph I have raised a PR. Please review.

[2022-05-12 08:00] aceforeverd opened #1807 "SQL query with one union window first and one window next cause compile fail in batch mode"
**Bug Description**

[code]

Will fail to compile:
[code]

it may related to recent plan change for lag functions #1605

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-12 08:11] IZUMI-Zu commented on #1796
Hello, I would like to work on this issue. Can I have a try?

[2022-05-12 08:39] #1804 closed, assigned to Mount-Blanc

[2022-05-12 08:43] #1407 closed, assigned to nobody

[2022-05-12 08:45] #1758 closed, assigned to nobody

[2022-05-12 09:16] dl239 opened #1808 "Support db in `insert` statement"
`insert into test.t3 values('b',1122);`

[2022-05-12 09:33] aceforeverd commented on #1807
reproduced without `lag`, so should not related to #1605. It's about one union window first and another window next, schema validation failed during WindowProject concating.

[code]

[2022-05-12 09:43] dl239 commented on #1808
- rm db check in https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/sql_cluster_router.cc#L2322-L2326
- add test case to src/cmd/sql_cmd_test.cc

[2022-05-12 09:45] aceforeverd commented on #1807
To summary:

https://github.com/4paradigm/OpenMLDB/blob/2d6f5574e99125afb589085a85aba561cfc45e24/hybridse/src/vm/transform.cc#L438-L449 pass next WindowAgg node to the previous one as input. If the current window has union tables, it will check union schema in https://github.com/4paradigm/OpenMLDB/blob/2d6f5574e99125afb589085a85aba561cfc45e24/hybridse/include/vm/physical_op.h#L1124-L1129. It will

[2022-05-12 09:47] #1785 closed, assigned to nobody

[2022-05-12 10:56] #1742 closed, assigned to aceforeverd

[2022-05-12 11:01] aceforeverd opened #1809 "design the option for user to control ordering for window union rows and original rows that have same ts manully"
**Describe the feature you'd like**

#1776 defines the default ordering, is orginal row before union rows.
It may still necessary to define a new SQL option in query or a new system variable to control whether original rows should be first or last.

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-05-12 15:08] aceforeverd opened #1811 "documents about how to develop for developers"
**Describe the feature you'd like**

Need documents about how to compile, test and deploy for developers

- we can add a `development.md` in docs/*/developer/, to summary all modules and development method
- add the development guide entry in `CONTIRBUTING.md` file
- for each specific module
  - we can put `README` in each directory for a simple and quick introduction
  - any detail or advanced gu

[2022-05-13 01:37] lumianph commented on #1796
@IZUMI-Zu since another contributor has already submitted a PR to this issue, you are suggested to choose another translation task. Anyway, thank you for your interest very much.

[2022-05-13 02:40] nautaa commented on #1808
pr #1173 has fixed this problem, it is reverted?

[2022-05-13 02:44] nautaa commented on #1808
https://github.com/4paradigm/OpenMLDB/pull/1173#discussion_r871955805

[2022-05-13 02:59] Patrick-Star125 opened #1813 "`docker run 4pdosc/openmldb` without command following return silently"
**Bug Description**
在Ubuntu虚拟机安装openmldb无法运行，环境如下
1.Ubuntu 20.04 LTS
2.Docker 20.10.12
3.VMware虚拟机软件
4.配置的镜像源
[code]
执行docker run语句如下，有两种状态
[code]

用docker ps查看，直接退出，也没有端口映射
[code]
再执行docker run语句如下
[code]
用docker ps查看，持续重启，也没有端口映射
[code]
复现过程如上
另外，进入挂载出来的`/home/openmldb_data`中也没有任何文件，挂载失败

[2022-05-13 03:04] lumianph commented on #1813
@vagetablechicken  you may also help take a look

[2022-05-13 03:09] #1776 closed, assigned to aceforeverd

[2022-05-13 03:28] aceforeverd commented on #1813
1. `docker inspect 4pdosc/openmldb:0.4.4` to see if digest matches https://hub.docker.com/layers/openmldb/4pdosc/openmldb/0.4.4/images/sha256-32d8854fe8fe43c5a4479ea51179a0c2a9441ed0726f4dd27d882cab2438dd2f?context=explore
2. is there any log in `docker logs <container_id>` ?

[2022-05-13 03:29] lumianph commented on #1506
We are very pleased to announce that we have released our v0.5.0.

### Highlights

- We have introduced an important performance optimization technique of pre-aggregation, which can significantly improve the performance for a query with time windows containing massive amount of rows, e.g., a few millions. (#1532 #1573 #1583 #1622 #1627 #1672 # 1712 @zhanghaohit @nautaa)
- We have added a new stora

[2022-05-13 04:12] vagetablechicken commented on #1200
10.15 zetasql still failed.
So I test released 050 python sdk again.
**Important**
Only sqlalchemy will fail.
[code]

It works when importing sdk or dbapi.(Just one import, not both of them.)
**If we import openmldb, then import sqlalchemy, it works.**

[2022-05-13 04:39] Patrick-Star125 commented on #1813
For these two possible solutions：
1.I don't konw what is this mean, but I can offer the metadata print in my machine
[code]
2.there is no any log aftet `sudo docker logs openmldb`
![image](https://user-images.githubusercontent.com/69072522/168212041-b711be71-8b3f-408e-87ef-f7b70ff3c1a3.png)

[2022-05-13 05:30] aceforeverd commented on #1813
you should pass a command in the last, we usually pass the `bash` command to enter the shell in container:
`docker run -it 4pdosc/openmldb:0.4.4 bash`

the demo dockerfile do not have a default `CMD`

[2022-05-13 05:42] aceforeverd commented on #1813
@vagetablechicken  Dockerfile need a default `CMD` or `ENTRYPOINT`, in case here `docker run -d ` without a command just return silently

[2022-05-13 06:32] Patrick-Star125 commented on #1813
Thank you for your patience in answering questions. @aceforeverd

[2022-05-13 06:32] #1813 closed, assigned to aceforeverd

[2022-05-13 06:57] #1760 closed, assigned to SaumyaBhushan

[2022-05-13 07:01] dl239 commented on #1808
there have some validation in sdk. https://github.com/4paradigm/OpenMLDB/blob/main/src/sdk/sql_cluster_router.cc#L2322-L2326

[2022-05-13 07:32] dl239 commented on #1808
hi @nautaa, this pr has been assigned to @xuduling , she is woking for this. thank you

[2022-05-13 09:42] IZUMI-Zu commented on #1293
Can I have a try?

[2022-05-13 09:48] lumianph commented on #1293
sure! I have assigned to you. Thanks.

[2022-05-13 09:53] yclchuxue commented on #1767
Can I have a try?

[2022-05-13 10:07] yclchuxue commented on #1792
I want to do this.

[2022-05-13 10:12] lumianph commented on #1792
Thank you for the interest. I have assigned it to you. Thanks.

[2022-05-16 13:06] dl239 opened #1823 "Delete unused code about `ShowTp`"
the following code should be clean:
- delete `ShowTp` function from src/client/tablet_client.cc and src/client/tablet_client.h
- delete `enable_show_tp` from src/flags.cc and src/client/tablet_client.cc
- delete `percentile_`  from src/client/tablet_client.h

[2022-05-16 13:16] dl239 opened #1825 "Delete `Cond_Column` from tablet_client"
Delete `Cond_Column` from src/client/tablet_client.h

[2022-05-16 13:45] dl239 opened #1826 "Resolve compiling warnings"
resolve the following compiling warnings:

1 src/nameserver/name_server_test.cc
<img width="789" alt="WX20220516-215239@2x" src="https://user-images.githubusercontent.com/6183996/168608516-1e323a7a-91b5-43cf-92b6-d5e3b7603753.png">

2 src/tablet/tablet_impl_multi_path_test.cc
<img width="783" alt="WX20220516-215402@2x" src="https://user-images.githubusercontent.com/6183996/168608786-2934f244-82e1-

[2022-05-16 14:42] frazie commented on #1823
can I have this task assigned to me?

[2022-05-16 14:45] lumianph commented on #1823
@frazie I have assigned to you, looking forward to your contribution.

[2022-05-17 02:52] aceforeverd commented on #1826
just reference here, should turn those flags into error #1528

[2022-05-17 02:59] nautaa opened #1827 "support `count_where(*, filter_condition)`"
**Bug Description**

support `count_where(*, filter_condition)` like `count(*)`.

[code]

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-17 05:03] aceforeverd opened #1828 "support window union over multiple input source in cluster mode & request mode"
**Describe the feature you'd like**

A clear and concise description of what you want to happen.

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-05-17 06:15] lumianph commented on #1565
this issue may be fixed asap

[2022-05-17 07:33] aceforeverd commented on #1807
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (Normal)](https://trello.com/c/WhbjlRN2/69-bugs-normal)

[2022-05-17 07:33] aceforeverd commented on #1787
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (Normal)](https://trello.com/c/WhbjlRN2/69-bugs-normal)

[2022-05-17 07:35] aceforeverd commented on #1374
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (Normal)](https://trello.com/c/WhbjlRN2/69-bugs-normal)

[2022-05-17 07:36] aceforeverd commented on #1445
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (Normal)](https://trello.com/c/WhbjlRN2/69-bugs-normal)

[2022-05-17 07:37] aceforeverd commented on #1522
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (Normal)](https://trello.com/c/WhbjlRN2/69-bugs-normal)

[2022-05-17 07:39] aceforeverd commented on #1641
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-05-17 07:39] aceforeverd commented on #1828
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-05-17 07:53] aceforeverd opened #1830 "`SHOW COMPONENTS` include OpenMLDB version info"
**Describe the feature you'd like**

A clear and concise description of what you want to happen.

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-05-17 07:54] aceforeverd commented on #1830
![](https://github.trello.services/images/mini-trello-icon.png) [show components should show version numbers](https://trello.com/c/RTCbyCgs/55-show-components-should-show-version-numbers)

[2022-05-17 07:54] aceforeverd commented on #1801
![](https://github.trello.services/images/mini-trello-icon.png) [show components should show version numbers](https://trello.com/c/RTCbyCgs/55-show-components-should-show-version-numbers)

[2022-05-18 08:39] aceforeverd commented on #1374
with cmake 3.19.7:
[code]

[2022-05-18 10:02] ZtXavier commented on #1793
can I do this

[2022-05-18 11:04] dl239 opened #1835 "Support creating aggregate function"
we can only add udf function with `CREATE FUNCTION` now.

[2022-05-18 11:08] dl239 opened #1836 "Support iterator all data with `DistributeWindowIterator`"
it need to send multiple rpcs in `DistributeWindowIterator` to get all data

[2022-05-18 14:42] zhanghaohit opened #1837 "`long window` processing core dump under stress test"
**Bug Description**

Under stress test of `long window` deployment, the `tablet` may core dump, as shown below.

![wecom-temp-7474d72ae73da0d7e6de48ff3ecb8f41](https://user-images.githubusercontent.com/7508922/169068546-61a01499-94bb-43ec-a2db-9d6ed2cc022a.png)

[2022-05-19 03:08] tobegit3hub commented on #1710
<img width="672" alt="wecom-temp-eca4278e760893d4254fc2a7e341b79b" src="https://user-images.githubusercontent.com/2715000/169195968-dfa9f43b-ad7f-4b53-bc79-5745c8ca8846.png">

[2022-05-19 06:48] #1837 closed, assigned to zhanghaohit

[2022-05-19 08:34] #1710 closed, assigned to tobegit3hub

[2022-05-19 08:34] #1780 closed, assigned to tobegit3hub

[2022-05-19 14:27] #1791 closed, assigned to bxiiiiii

[2022-05-19 23:43] #1825 closed, assigned to nobody

[2022-05-20 02:36] nautaa opened #1846 "optimize the pre-aggregation of out-of-order"
**Describe the feature you'd like**

Currently, if the records arriving out of order are not located in the written time interval, they will be written to the table separately, which will affect the performance of pre-aggregation.

**Additional context**

https://github.com/4paradigm/OpenMLDB/blob/687b279e863afceb837d11bbe38bc5c3f37163f6/src/storage/aggregator.cc#L174

[2022-05-20 02:53] tobegit3hub opened #1847 "Support spark config file in SDK"
Now we can use spark config file in CLI and we should support in Python/Java SDK.

[2022-05-20 03:40] tobegit3hub commented on #1767
Thanks and it is resolved by https://github.com/4paradigm/OpenMLDB/pull/1779 .

[2022-05-20 03:40] #1767 closed, assigned to nobody

[2022-05-20 05:17] nautaa opened #1850 "Duplicate records in PRE_AGG_META_INFO"
**Bug Description**
Duplicate records in PRE_AGG_META_INFO
<img width="1154" alt="wecom-temp-c2acb780ad574ad0c0a6cbf931da878c" src="https://user-images.githubusercontent.com/25190284/169455023-eb0785a0-d967-4321-96ab-68e9b7256cea.png">

**Expected Behavior**

we check the long window meta info exists before inserting meta and creating pre-aggr table. The same meta info should only be inserted once

[2022-05-20 07:56] vagetablechicken opened #1852 "python: use db bug"
If create_engine without db, we will pass default db as "".
So code like this below can't pass.

[code]

The bug is around `self.sdk.ExecuteSQL`, cause it will use the db in parameter list as the default db.

[2022-05-20 08:03] vagetablechicken opened #1853 "python: support setting session timeout and other options in sqlalchemy"
https://github.com/4paradigm/OpenMLDB/blob/efdb71ec6a6c0ad5d72e7e6fd4ce9fb5492cc727/src/sdk/sql_router.h#L39-L44

[2022-05-20 10:58] Albertchamberlain commented on #1794
Please assign it to me.😀

[2022-05-20 13:08] Ivyee17 commented on #1826
I want to help with this issue!WeOpen Star

[2022-05-20 13:20] Ivyee17 commented on #1408
I want to help this!WeOpen Star

[2022-05-20 15:17] Ivyee17 commented on #1319
WeOpen Star. Hope to fix this problem, and please assign it to me. thx

[2022-05-20 15:44] vagetablechicken commented on #1200
I check it in python virtual env only has python3.9, I named `mypython3.9`. In the pure env, I use the pytest in it, not in system path. `/usr/local/anaconda3/envs/mypython3.9/bin/pytest`.

The the test will all pass. No dlopen error.

But even in the `mypython3.9`, when I try `python train_and_serve.py` in talking data demo. It'll failed, even I import openmldb first.
[code]
But when I comment pa

[2022-05-20 16:02] vagetablechicken opened #1859 "docs: more detail in contribution guide"
In [guide](https://github.com/4paradigm/OpenMLDB/blob/461d5201ae398155fb0e83c281aa73c926780341/CONTRIBUTING.md#code-contribution-workflow), we should add info about:
1. pr title, a lot of contributors write the wrong title.
2. cicd: some workflow can be x, but some must be passed.

And we should put the contribution-workflow in a more prominent position, first contributors need it.

[2022-05-21 02:27] aceforeverd commented on #1859
like this #1811 ?

[2022-05-21 04:36] vagetablechicken commented on #1859
Yep. Let's merge the two issues. I've searched `contribution`, missed this issue.
Pr title and cicd are important. Got these questions many times.

[2022-05-21 04:36] #1859 closed, assigned to nobody

[2022-05-21 04:37] vagetablechicken commented on #1811
About development guide, we should add info about:

pr title, a lot of contributors write the wrong title.
cicd: some workflow can be x, but some must be passed.
And we should put the contribution-workflow in a more prominent position, first contributors need it.

[2022-05-21 09:34] lumianph commented on #1811
agree, you can draft this and we can review together

[2022-05-21 11:19] lumianph commented on #1319
I have assigned to you, looking forward to your PR

[2022-05-21 11:20] lumianph commented on #1826
I have assigned to you, looking forward to your PR

[2022-05-21 12:54] Albertchamberlain commented on #1794
@jmoldyvan has done the job #1815

[2022-05-21 15:09] Ivyee17 commented on #1826
I've issued a pr https://github.com/4paradigm/OpenMLDB/pull/1862 here for this bug. thx.

[2022-05-21 16:09] Ivyee17 commented on #1319
I've issued a pr for this problem https://github.com/4paradigm/OpenMLDB/pull/1863. thx.

[2022-05-22 14:02] Ivyee17 commented on #818
I want to help this, plz assign it to me. WeOpen Star. @lumianph

[2022-05-23 01:21] dl239 opened #1865 "Delete `inline` keywords from the declaration of `GetRecordByteSize`"
Delete `inline` keyword from the declaration of `GetRecordByteSize`  in following files:
- src/storage/table.h
- src/storage/mem_table.h
- src/storage/disk_table.h

[2022-05-23 01:26] dl239 opened #1866 "Rename `RtidbSchema` to `PBSchema`"
Rename `RtidbSchema` to `PBSchema` in the following files:
- src/sdk/sql_cluster_router.h
- src/sdk/sql_cluster_router.cc
- src/sdk/sql_sdk_test.h
- src/sdk/sql_router_test.cc
- src/sdk/mini_cluster_batch_bm.cc
- src/sdk/mini_cluster_bm.cc

[2022-05-23 01:29] #1761 closed, assigned to aceforeverd

[2022-05-23 01:58] aceforeverd commented on #1828
![](https://github.trello.services/images/mini-trello-icon.png) [window union across tables](https://trello.com/c/9jpyUwAv/67-window-union-across-tables)

[2022-05-23 02:02] aceforeverd commented on #1723
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-05-23 02:04] mangoGoForward commented on #1866
[WeOpen Star]I would like to help

[2022-05-23 02:26] dl239 commented on #1866
looking forward your pr, thank you

[2022-05-23 02:34] mangoGoForward commented on #1866
Hi @dl239,  Can we replace all files which contains `RtidbSchema` keyword to `PBSchema` in `src/sdk` directory?
Thanks!

[2022-05-23 02:41] dl239 commented on #1866
take the notice that the name is `RtiDBSchema` is some files. you should replace `RtidbSchema` and `RtiDBSchema` to `PBSchema` in `src/sdk`  dir

[2022-05-23 02:43] mangoGoForward commented on #1866
Ok, thanks

[2022-05-23 02:45] aceforeverd commented on #1797
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-05-23 02:46] aceforeverd commented on #1852
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-05-23 02:50] aceforeverd commented on #1385
the binary won't run if dynamic link `hybridse_sdk` and `hybridse_core`, so I removed `VM_LIBS` in #1864
does other libs can be removed even for dynamic linking @zhanghaohit ?

[2022-05-23 02:53] aceforeverd commented on #1850
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-05-23 02:56] aceforeverd commented on #1797
occur occasionally. we may rewrite those code later

[2022-05-23 03:03] mangoGoForward commented on #1865
[WeOpen Star]I would like to help

[2022-05-23 03:08] #1826 closed, assigned to Ivyee17

[2022-05-23 03:45] zhanghaohit commented on #1385
not really sure. we may have to try and test what are the really needed libraries.

[2022-05-23 04:19] dl239 commented on #1865
thank you

[2022-05-23 05:50] mangoGoForward commented on #315
[WeOpen Star]I would like to help

[2022-05-23 06:22] #1866 closed, assigned to mangoGoForward

[2022-05-23 06:52] #1319 closed, assigned to Ivyee17

[2022-05-23 08:20] #1865 closed, assigned to mangoGoForward

[2022-05-24 01:14] mangoGoForward commented on #1320
[WeOpen Star]I would like to help

[2022-05-24 03:12] mangoGoForward commented on #315
Hi @aceforeverd
Should we separate two PRs to support `pylint` check and fix pylint errors?

[2022-05-24 03:50] aceforeverd commented on #315
I recommend separate it. There suppose to be many errors from pylint.

[2022-05-24 03:52] mangoGoForward commented on #315
Yes, I noticed. Please let me try~

[2022-05-24 04:12] #1828 closed, assigned to aceforeverd

[2022-05-24 04:24] lumianph commented on #1794
@Albertchamberlain yes, you may try another issue :-)

[2022-05-24 04:26] #1794 closed, assigned to nobody

[2022-05-24 04:26] #1796 closed, assigned to nobody

[2022-05-24 10:08] #1852 closed, assigned to vagetablechicken

[2022-05-24 15:58] aceforeverd opened #1874 "typo method name from `DataHandler` abstract method"
https://github.com/4paradigm/OpenMLDB/blob/6f993f3dea4b0b1aa12c487eb110f8b42ff4e5db/hybridse/include/vm/catalog.h#L89-L89

should be `GetHandlerType`.

To fix this, you need change the method name for both abstract class and inherit classes, like:
+ https://github.com/4paradigm/OpenMLDB/blob/f83616596240bef0f30ba0e0d9069ed45f42ebde/hybridse/include/vm/catalog.h#L170
+ https://github.com/4paradigm/

[2022-05-25 02:16] #1565 closed, assigned to tobegit3hub, vagetablechicken

[2022-05-25 03:58] tobegit3hub opened #1876 "UnsafeRowOpt Spark planner for window to remove zipped dataframe"
Now we need to zip the original DataFrame and internal DataFrame for window planner with UnsafeRowOpt. It would be great to remove the original DataFrame which may reduce the memory usage and improve the performance.

[2022-05-25 06:38] lumianph commented on #1874
can set this as good first issue?

[2022-05-25 06:54] #1836 closed, assigned to dl239

[2022-05-25 07:13] #315 closed, assigned to mangoGoForward

[2022-05-25 07:47] aceforeverd commented on #1874
Can be, but need a bit more guide

[2022-05-25 09:26] #1823 closed, assigned to frazie

[2022-05-25 09:35] dl239 opened #1880 "Remove `scan_concurrency_limit` gflag"
Remove `scan_concurrency_limit` gflag in the following files:
- src/flags.cc
- src/cmd/openmldb.cc

[2022-05-25 09:49] dl239 opened #1881 "Remove `sscan` and `sget` command in tablet client"
`sscan` and `sget` command is unused currently. we should delete it from src/cmd/openmldb.cc file.
- delete `HandleClientSScan` and  `HandleClientSGet` function and relavent code in src/cmd/openmldb.cc
- delete `sscan` and `sget` usage guide in `HandleClientHelp` function

[2022-05-25 10:08] mangoGoForward commented on #1880
[WeOpen Star]I would like to help

[2022-05-25 10:13] mangoGoForward opened #1883 "python: `pylint` check found many error"
**Bug Description**
There are many error about `pylint`, and the pr of [feat: support pylint check in github action](https://github.com/4paradigm/OpenMLDB/pull/1873) has already integrate pylint to GitHub actions, So it is time to solve those error.

**Expected Behavior**
Execute `make lint` and got no errors.

**Steps to Reproduce**

1. execute command of `make lint`

And I'd like to solve this i

[2022-05-25 10:14] frazie commented on #1881
kindly assign this task to me

Thanks.

[2022-05-25 10:20] aceforeverd commented on #1883
Thank you. PRs super welcome. A few thoughts:

- since there are many sub-projects contains py code, we better separate PR by modules. Focus on primary projects like python sdk.
- I don't think every error should fixed, e.g in https://github.com/4paradigm/OpenMLDB/blob/f83616596240bef0f30ba0e0d9069ed45f42ebde/monitoring/openmldb_exporter/collector/collectors.py#L111, it used to access the protecte

[2022-05-25 10:25] mangoGoForward commented on #1883
Yeh, It's a big project, and separate PR by modules is better.
let us make a checkbox form to prevent omissions.

[2022-05-25 10:30] dl239 commented on #1880
have assigned to you. thank you

[2022-05-25 10:31] aceforeverd commented on #1883
I think those files can be fixed firstly:

- [ ] python/**/*.py
- [ ] monitoring/**/*.py
- [x] demo/**/*.py

Other py files may not maintain so well or just not so important, maybe we need some ignore file rules

[2022-05-25 10:31] dl239 commented on #1881
have assigned to you, thank you

[2022-05-25 10:32] mangoGoForward commented on #1883
Such cases we could add to `pylintrc` file to disable globally is more better I think, but I'm a newbie and the project has itself best practice.

[2022-05-25 10:37] aceforeverd commented on #1883
This case should not disable globally, u can add a magic comment above the line:
[code]
see https://pylint.pycqa.org/en/latest/user_guide/messages/message_control.html

[2022-05-25 10:38] mangoGoForward commented on #1883
I noticed that `pylintrc` has a property `ignore`, we can use it to ignore those files?

[2022-05-25 10:56] aceforeverd commented on #1883
yes , `ingore` or `ignore-patterns`

[2022-05-25 15:23] #1827 closed, assigned to nautaa

[2022-05-25 16:07] Ivyee17 commented on #817
I want to help this, plz assign it to me. WeOpen Star. @lumianph

[2022-05-25 16:08] Ivyee17 commented on #788
I want to help this, plz assign it to me. WeOpen Star. @lumianph

[2022-05-26 00:19] lumianph commented on #1320
i have assigned to you, thanks.

[2022-05-26 02:30] #1874 closed, assigned to aceforeverd

[2022-05-26 02:44] dl239 opened #1887 "Support getting remote data with `Next` function in `DistributeWindowIterator`"
The `Next` function in `DistributeWindowIterator` can only iterator data in memory table currently.

[2022-05-26 02:45] #1880 closed, assigned to mangoGoForward

[2022-05-26 03:28] dl239 opened #1888 "Display `YYYY-MM-DD HH-MM-SS` format in the result of `Show Components` command"
The result of `Connect_time` is not convenient to debug
![WX20220526-111212](https://user-images.githubusercontent.com/6183996/170409787-672e9a5e-401a-4305-a4fa-81afda5a3f41.png)

[2022-05-26 03:31] aceforeverd commented on #1888
refer #1456
MakeResultSet only support string as data type

[2022-05-26 05:54] nautaa opened #1890 "undefined reference if `TESTING_ENABLE=ON`"
**Bug Description**

[code]

build log
[code]

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-26 07:00] mangoGoForward commented on #1320
Hi @lumianph ,Sorry about that I don't know how to solved this issue, and not familiar with `scala` language.
if ok, please unassigned to me, and others want to contribute, please go on.

[2022-05-26 08:53] #1881 closed, assigned to frazie

[2022-05-26 09:42] nautaa commented on #1890
It seems to be wrong link order? only occur in Debug mode.
https://github.com/4paradigm/OpenMLDB/runs/6607218757?check_suite_focus=true

[2022-05-26 09:53] tobegit3hub opened #1893 "Remove the memcpy for UnsafeRowOpt"
Now we need to memcpy the entire row for UnsafeRowOpt because of usage of row header. It would be great to remove the memcpy for UnsafeRowOpt by not depending on row header in some cases.

[2022-05-26 10:25] frazie commented on #1881
It was amazing working on this project, thanks!!

[2022-05-26 10:39] #1091 closed, assigned to aceforeverd

[2022-05-26 10:39] #1374 closed, assigned to aceforeverd

[2022-05-26 14:28] dl239 opened #1894 "Auto release the installing package of macos"
add the workflow to release the installing package of macos  automatically when a new tag created

[2022-05-26 15:32] aceforeverd commented on #1887
does this affect correctness of any sql query ?

[2022-05-26 15:38] aceforeverd commented on #1229
workflow released file won't have the problem.

[2022-05-26 15:38] #1229 closed, assigned to aceforeverd

[2022-05-26 15:39] aceforeverd commented on #1894
dup #258

[2022-05-26 15:45] aceforeverd commented on #1894
somebody can take this if u are interested in workflow

[2022-05-27 00:15] lumianph commented on #1320
noted, but I saw a PR from you related to this issue, you want to close the PR as well?

[2022-05-27 02:26] dl239 commented on #1887
batch mode in cluster may use the next function

[2022-05-27 14:47] #1759 closed, assigned to vighnesh-kadam

[2022-05-28 07:41] #788 closed, assigned to Ivyee17

[2022-05-28 08:11] #1328 closed, assigned to nobody

[2022-05-28 11:33] #818 closed, assigned to Ivyee17

[2022-05-29 05:47] aceforeverd commented on #1890
@nautaa proto generated files are moved to build directory #1885
try `git clean -dfx src` and try again ?

[2022-05-30 09:21] vagetablechicken opened #1903 "batch: bug in handle key if is null"
https://github.com/4paradigm/OpenMLDB/blob/908e9edbe05a86dccdbf8d1579bad88454480d59/java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala#L424-L425

We get key by `extractKey`, and then check it by `isValidOrder`.
After #1408 fixed, `isValidOrder` arg is java Long, it may be null or a long.

But `extractKey` returns scala Long, which can't be null, ref
https://

[2022-05-30 09:26] dl239 opened #1904 "`Tablet` has not save `ttl` when updating the `ttl` of index"
`Tablet` has not save `ttl` to `table_meta.txt` when updating the `ttl` of index

[2022-05-30 11:16] aceforeverd opened #1905 "java sdk: `Statement::execute` return false always because it do not have resultset returned"
**Bug Description**

https://github.com/4paradigm/OpenMLDB/blob/555077f7869f0cdffab2674e38a9bee1f09090da/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/Statement.java#L31

https://github.com/4paradigm/OpenMLDB/blob/555077f7869f0cdffab2674e38a9bee1f09090da/src/sdk/sql_cluster_router.cc#L2339

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-05-30 11:30] dl239 commented on #1905
https://github.com/4paradigm/OpenMLDB/blob/main/java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java#L41

[2022-05-30 11:45] #1408 closed, assigned to Ivyee17

[2022-05-30 14:36] aceforeverd commented on #1905
what does this mean ? I found the deploy test always expect ret code to be false: https://github.com/4paradigm/OpenMLDB/blob/main/java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java#L84

[2022-05-31 01:14] #1317 closed, assigned to SaumyaBhushan

[2022-05-31 01:15] dl239 commented on #1905
https://docs.oracle.com/javase/7/docs/api/java/sql/Statement.html#execute(java.lang.String)

[2022-05-31 02:28] #817 closed, assigned to Ivyee17

[2022-05-31 02:32] aceforeverd commented on #1905
cool

[2022-05-31 02:33] #1905 closed, assigned to aceforeverd

[2022-05-31 06:28] #1876 closed, assigned to tobegit3hub

[2022-05-31 06:29] aceforeverd commented on #1904
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-05-31 06:47] tobegit3hub opened #1906 "Fail to catch UnsupportedHybridSeException and fallback to SparkSQL with OpenMLDB Spark distribution"
Fail to fallback to SparkSQL with OpenMLDB Spark distribution. It is the issue of UnsupportedHybridSeException which may not be thrown correctly.

[2022-05-31 06:48] dl239 opened #1907 "Delete the `Get` function in tablet_client"
`Get` function with `ts_name` in tablet_client is not used now. We should delete it from src/client/tablet_client.h and src/client/tablet_client.cc

- delete declaration in [header file](
https://github.com/4paradigm/OpenMLDB/blob/main/src/client/tablet_client.h#L104)
- delete the implement in [tablet_client.cc](https://github.com/4paradigm/OpenMLDB/blob/main/src/client/tablet_client.cc#L823)
-  d

[2022-05-31 06:54] dl239 opened #1909 "Delete `format_version` from `Put` function"
`format_version` is unused now. we should delete it from `Put` function.

[2022-05-31 06:58] dl239 opened #1910 "Delete `INVALID_TID` from tablet_client"
Delete `INVALID_TID` from [tablet_client](https://github.com/4paradigm/OpenMLDB/blob/main/src/client/tablet_client.h#L45)

[2022-05-31 07:22] aceforeverd commented on #1121
resolved in #1820

[2022-05-31 07:22] #1121 closed, assigned to dl239, aceforeverd

[2022-05-31 08:25] tobegit3hub opened #1911 "Fail to load data with thousands of columns for Spark local mode"
Now we can not use load data with thousands of columns for Spark local mode.

The error message is about out of memory of heap.

[code]

[2022-05-31 08:38] vagetablechicken commented on #981
https://github.com/4paradigm/incubator-brpc/pull/5

[2022-05-31 09:52] nautaa commented on #1890
still unresolved.
`HYBRIDSE_CASE_LIBS` is not necessary for `sql_request_row_test`. after removing `HYBRIDSE_CASE_LIBS` or adjust the order of dependencies. it can build normally. @aceforeverd
https://github.com/4paradigm/OpenMLDB/blob/14cde3eeb6a4a6802009aff05e79ebb16707eb93/src/sdk/CMakeLists.txt#L40

[2022-05-31 10:25] tobegit3hub commented on #1911
For Spark local mode, we need to set the config of `spark.driver.memory` which is 1g by default.

Just append the following config.

<img width="880" alt="wecom-temp-92229996373a1b5ff7f91233161d329d" src="https://user-images.githubusercontent.com/2715000/171152670-42a704ae-2aa1-42f6-9c9a-7727645efc26.png">

Then restart the taskmanager service.

[code]

[2022-05-31 10:25] #1911 closed, assigned to tobegit3hub

[2022-06-01 00:35] #1792 closed, assigned to yclchuxue

[2022-06-01 06:37] mangoGoForward commented on #1907
[WeOpen Star]I would like to help

[2022-06-01 09:46] #1909 closed, assigned to nobody

[2022-06-01 09:51] #981 closed, assigned to vagetablechicken

[2022-06-01 10:53] #1335 closed, assigned to aceforeverd

[2022-06-01 10:53] #1445 closed, assigned to aceforeverd

[2022-06-01 10:53] #1522 closed, assigned to aceforeverd

[2022-06-01 12:04] dl239 commented on #1907
have assigned to you, thanks

[2022-06-02 06:01] aceforeverd commented on #1890
I do not reproduce it but I think this might possible.
https://github.com/4paradigm/OpenMLDB/runs/6607218757?check_suite_focus=true#step:7:948 says `hybridse::sqlcase::SqlCase::BuildCreateSqlFromInput` not found, the function is built in `hybridse_core` lib, and `hybridse_core` is included in `$BIN_LIBS`, which is the previous library of `$HYBRIDSE_CASE_LIBS`

[2022-06-02 06:34] dl239 opened #1915 "Implement an efficient encoding scheme for `Traverse`"
# Problem
Currently, the records used by the `Travserse` function are encoded as follows (both pk and value are strings)
[code]
As the same pk may have multiple values, this encoding scheme may cause inefficiency because of the duplicate records for pk

# Solution
We can implement a compact format to store those data. The basic idea is to arrange the ts and values corresponding to the same pk cont

[2022-06-02 06:49] aceforeverd commented on #1890
@nautaa try #1916

[2022-06-03 01:54] wuyou10206 opened #1918 "Procedure call failed, error: Request server error"
**Bug Description**

Procedure call failed, error: java.sql.SQLException: call procedure fail, msg: request server error
![image](https://user-images.githubusercontent.com/18275570/171770982-8b47487b-48a8-4848-945c-2ca6345d894c.png)

**Expected Behavior**

Procedure call success

** Env Info **

1.   openmldb-ns-1/bin/openmldb --zk_cluster=172.24.4.55:30008 --zk_root_path=/openmldb --role=sql_clie

[2022-06-06 02:58] aceforeverd commented on #1918
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-06-06 02:59] aceforeverd commented on #1918
any tablet server log ?

[2022-06-06 02:59] aceforeverd commented on #1906
![](https://github.trello.services/images/mini-trello-icon.png) [Bugs (0.5.x)](https://trello.com/c/WhbjlRN2/69-bugs-05x)

[2022-06-06 03:17] aceforeverd commented on #1906
![](https://github.trello.services/images/mini-trello-icon.png) [不支持函数 fallback, from fangrong](https://trello.com/c/0j36fmVm/72-%E4%B8%8D%E6%94%AF%E6%8C%81%E5%87%BD%E6%95%B0-fallback-from-fangrong)

[2022-06-06 03:19] aceforeverd opened #1920 "udf function `replace`"
**Describe the feature you'd like**

same as https://dev.mysql.com/doc/refman/8.0/en/replace.html

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-06-06 03:20] aceforeverd commented on #1920
![](https://github.trello.services/images/mini-trello-icon.png) [replace function, from fangrong](https://trello.com/c/bezVngyp/73-replace-function-from-fangrong)

[2022-06-06 03:48] aceforeverd commented on #1787
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-06 03:48] aceforeverd commented on #1807
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-06 03:48] aceforeverd commented on #1918
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-06 04:00] aceforeverd commented on #1904
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-06 04:44] aceforeverd commented on #1522
Note: guava not upgraded

[2022-06-06 08:42] #1890 closed, assigned to aceforeverd

[2022-06-06 11:36] #1907 closed, assigned to mangoGoForward

[2022-06-07 03:07] #1906 closed, assigned to tobegit3hub

[2022-06-07 03:50] dl239 commented on #1918
there are some core files in @wuyou10206 's env, the same problem as #1892
@wuyou10206  run well with the bin compiled under the latest code.

[2022-06-07 03:50] #1918 closed, assigned to dl239

[2022-06-07 08:33] aceforeverd commented on #1797
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 08:36] aceforeverd commented on #1799
@dl239 pls help investigate this issue ?

[2022-06-07 08:37] aceforeverd commented on #1723
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 08:39] tobegit3hub opened #1927 "Get incorrect result for min/max/count with null data which may be related to loop-combining codegen"
Now we may get incorrect result for methods of min/max/count with null data. Here is simple case which can be run in offline directly.

[code]

If we only select the non-null column, the result is correct.

[code]

If we select two columns and one of these columns has null data, the result is incorrect and make all result is null.

[code]

If we change the method from `max` to `add` which may not

[2022-06-07 08:45] aceforeverd commented on #1586
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 08:51] aceforeverd commented on #1500
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 08:52] aceforeverd commented on #656
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 08:54] aceforeverd commented on #1412
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:46] dl239 commented on #1904
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:48] dl239 commented on #1696
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:51] dl239 commented on #1673
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:51] dl239 commented on #1907
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:53] dl239 commented on #1669
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:54] dl239 commented on #1624
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 12:55] #1293 closed, assigned to IZUMI-Zu

[2022-06-07 12:56] dl239 commented on #515
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-07 13:31] aceforeverd opened #1930 "build(Makefile): rm standalone cmake generate for hybridse"
**Describe the feature you'd like**

Instead, just `cd build/hybridse && make` should ok. standalone build directory at `hybridse/build` should removed from Makefile,
as well as duplicated entries in `hybridse/CMakeLists.txt`

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-06-08 00:38] frazie commented on #1910
kindly assign this task to me

[2022-06-08 02:00] dl239 commented on #1799
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 02:02] dl239 commented on #1249
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 02:05] dl239 commented on #1225
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 02:08] #165 closed, assigned to dl239, jingchen2222, imotai, aceforeverd

[2022-06-08 02:08] #109 closed, assigned to imotai

[2022-06-08 02:15] aceforeverd commented on #1927
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 02:16] aceforeverd commented on #1927
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 02:19] dl239 opened #1931 "Support refresh one table/deployment in sql_cluster_router"
if we create a new table or deploy a new deployment, we should call `RefreshCatalog` to add table/deployment to catalog. `RefreshCatalog` will request all node in zookeeper path currently. it is unnecessary

[2022-06-08 02:25] aceforeverd opened #1932 "build(Release): dynamic link error when `BUILD_SHARED_LIBS=ON` and `CMAKE_BUILD_TYPE=RelWithDebInfo`"
**Bug Description**

in Release or RelWithDebInfo profile, test executable fails
e.g the `ast_node_converter_test`:
[code]

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-06-08 02:32] #1358 closed, assigned to nautaa

[2022-06-08 02:34] tobegit3hub commented on #1450
Resolved by https://github.com/4paradigm/OpenMLDB/pull/1912 .

[2022-06-08 02:34] #1450 closed, assigned to tobegit3hub, vagetablechicken

[2022-06-08 02:35] tobegit3hub commented on #1449
Resolved by upgrading tablet.

[2022-06-08 02:35] #1449 closed, assigned to tobegit3hub, dl239

[2022-06-08 02:50] zhanghaohit opened #1933 "Support delete/gc the pre-aggregation tables when all related deployments are dropped"
**Describe the feature you'd like**

When deployments are dropped, there is no action for the associated pre-aggregation tables.

**Additional context**

We may maintain a counter for every pre-aggregation table. Decrease the counter when one deployment drops. When it reaches zero, users may issue a `gc` command to finally delete the tables.

[2022-06-08 02:52] aceforeverd commented on #1932
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-08 03:14] zhanghaohit commented on #1669
@zhanghaohit check whether cause incorrectness

[2022-06-08 03:16] zhanghaohit commented on #1669
It doesn't affect the correctness, as next time, we will not create the pre-aggregation table if exists

[2022-06-08 03:25] aceforeverd commented on #1927
re-produced online
[code]

[2022-06-08 04:27] vagetablechicken commented on #1200
[code]
pandas, xgboost, requests should be after openmldb.
Otherwise, it will cause `ImportError: dlopen(/usr/local/anaconda3/envs/mypython3.9-1/lib/python3.9/site-packages/openmldb/native/_sql_router_sdk.so, 2): initializer function 0x10d6c39b0 not in mapped image for /usr/local/anaconda3/envs/mypython3.9-1/lib/python3.9/site-packages/openmldb/native/_sql_router_sdk.so`

**note**
If we met this e

[2022-06-08 07:13] #1920 closed, assigned to aceforeverd

[2022-06-09 02:02] lumianph commented on #1910
i have assigned to you, looking forward to your PR

[2022-06-09 02:08] lumianph commented on #1793
@ZtXavier sorry for the late reply, i have assigned to you, I hope you can still help this. Thanks!

[2022-06-09 02:09] #1344 closed, assigned to nobody

[2022-06-09 02:43] #1200 closed, assigned to vagetablechicken

[2022-06-09 03:18] #1255 closed, assigned to nautaa

[2022-06-09 07:27] vagetablechicken opened #1940 "refactor: rename zk session_timeout in db sdk"
https://github.com/4paradigm/OpenMLDB/blob/5e242cf6568dbde344285a943687a56b5de3d03a/src/sdk/db_sdk.h#L40-L43
session_timeout is used for zookeeper, it's better to rename it to `zk_session_timeout`.

Only rename this class. No need to change the`session_timeout` in `BasicRouterOptions`.

[2022-06-09 07:31] vagetablechicken opened #1941 "refactor: mv session_timeout to cluster router options and rename it"
https://github.com/4paradigm/OpenMLDB/blob/5e242cf6568dbde344285a943687a56b5de3d03a/src/sdk/sql_router.h#L39-L44

`session_timeout` is only for zookeeper settings. so it should be moved to `SQLRouterOptions`, and renamed to `zk_session_timeout`.

You should make `src/sdk`, java sdk and python sdk all pass.

[2022-06-09 07:41] frazie commented on #1910
@lumianph thank you

[2022-06-09 08:28] #1667 closed, assigned to dl239

[2022-06-09 08:37] #1904 closed, assigned to dl239

[2022-06-09 08:49] mangoGoForward commented on #1894
Hi, I want to confirm that whether this issue is resolved.
MacOS build like this:
https://github.com/4paradigm/OpenMLDB/blob/282ce34a54e71e9fdda5d593a7bc67dba6af9f94/.github/workflows/hybridse-ci.yml#L53
Release package like this:
https://github.com/4paradigm/OpenMLDB/blob/282ce34a54e71e9fdda5d593a7bc67dba6af9f94/.github/workflows/cicd.yaml#L155-L162

[2022-06-09 09:21] lumianph commented on #1797
we also should add the doc, this issue will be assigned to @xuduling

[2022-06-09 09:29] #1801 closed, assigned to aceforeverd

[2022-06-09 09:30] ZtXavier commented on #1793
I have finish it

[2022-06-09 09:38] #1808 closed, assigned to dl239

[2022-06-09 09:40] mangoGoForward commented on #1940
[WeOpen Star]I would like to help

[2022-06-09 09:43] vagetablechicken opened #1944 "build: fix warning of invalid copy"
https://github.com/4paradigm/OpenMLDB/blob/607f32b9f20d6610dddee35080ca987225adfb83/src/storage/disk_table.h#L167
[code]

[2022-06-09 23:21] wuyou10206 opened #1947 "In some cases, the request result obtained by the procedure obtained through deploy is incorrect"
**Bug Description**
The procedure created through create procedure and the procedure created through deploy have the same request data and different returns.

**Expected Behavior**
Return the same result

**Case**
[code]
**Steps to Reproduce**

1.  create table:bo_hislabel and insert data
2. create table:flattenRequest
3. create procedure:
[code]
4.  Call procedure through Java SDK
5.  deploy sql

[2022-06-10 01:02] lumianph commented on #1947
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-10 01:34] mangoGoForward commented on #1940
Hi @auula , noticed that you have already finish this coding, please go ahead to push it and no worry.

[2022-06-10 01:49] #1887 closed, assigned to dl239

[2022-06-10 01:54] zhanghaohit opened #1948 ""SQL上线规范和要求 | Online Serving下LAST JOIN的使用规范" example is not correct"
**Bug Description**
Now the doc looks like this:

### Online Serving下LAST JOIN的使用规范

- Join type仅支持`LAST JOIN`类型
- 至少有一个JOIN条件是形如`left_table.column=right_table.column`的EQUAL条件，并且`rgith_table.column`列需要命中右表的索引
- 带排序LAST JOIN的情况下，`ORDER BY`只能支持列表达式，并且列需要命中右表索引的时间列

#### Example: 支持上线的简单SELECT查询语句范例

[code]

**Expected Behavior**
The example should be for the `LAST JOIN` example. Not the `create tabl

[2022-06-10 01:58] aceforeverd commented on #1948
https://github.com/4paradigm/OpenMLDB/blob/607f32b9f20d6610dddee35080ca987225adfb83/docs/zh/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md#L9

[2022-06-10 03:44] auula commented on #1940
I don't know c++, I can only try, I fail and give up

[2022-06-10 06:19] aceforeverd commented on #1932
`hybridse_core` was linked with gflags, if elsewhere links gflags again, come to the problem.
because `hybridse_core` is shared library, the elsewhere linked gflags is treated as second link.
I see there should only one flag useful in hybridse now: `enable_spark_unsaferow_format`, we better replace the use of gflags

[2022-06-10 06:41] vagetablechicken commented on #515
taskmanager client can't refresh, so add a watch for it too.

[2022-06-10 10:44] auula commented on #1940
This problem is still recommended to be solved by you, I have given up this task, thank you

[2022-06-10 11:29] aceforeverd commented on #1385
another related problem: #1932
gflags is linked multiple times from like `hybridse_flags`, `openmldb_flags` or `toydb_flags`, this may work in static link but not allowed in dynamic link.

[2022-06-13 03:22] aceforeverd opened #1951 "`window rows between 0 preceding and 2 preceding` should report compile error"
**Bug Description**

the behavior of sql parser should be the same with spark-sql.
in spark, query like this should result compile time error
[code]
spark always expect `start_frame <= end_frame`

currently we just treat those window as window without data

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-06-13 03:23] lumianph opened #1952 "for v052, failed to generate the python sdk package on mac"
it seems some cases failed, we should look into it

[2022-06-13 03:24] lumianph commented on #1952
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-13 03:25] aceforeverd commented on #1951
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-13 03:25] aceforeverd commented on #1948
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.5.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-05x)

[2022-06-13 03:26] mangoGoForward commented on #1940
OK, if you have some advice, also can share with me, thanks.

[2022-06-13 07:43] dl239 commented on #1947
![WX20220613-154135](https://user-images.githubusercontent.com/6183996/173304159-8bb2f5f1-fa73-45c9-8c34-0e1cbb1aa721.png)
OpenMLDB will create `uUserId|zUserId` index automatically when deploy deployment. But `SqlClusterExecutor.genDDL` in java sdk has not this index.

[2022-06-13 10:26] aceforeverd opened #1958 "many undeleted files in /tmp"
**Bug Description**

generally, if a test fails, cleanup may not executed in the test end. like
https://github.com/4paradigm/openmldb/blob/8142820cc51bcd01a276bb8b40b2d241dd624419/src/nameserver/name_server_test.cc#L579

files in `/tmp` got cleanup by strategy, however, they may produce many useless files in a short time

**Expected Behavior**

**Steps to Reproduce**

1.
2.
3.
4.

[2022-06-13 10:38] aceforeverd commented on #1958
As far as I experienced, those undeleted files may fails aggregator_test

[2022-06-14 03:32] #1500 closed, assigned to vagetablechicken

[2022-06-14 05:51] lumianph opened #1960 "feat: new built-in aggregate function `median`"
You may follow the built-in aggregate function development doc (Chinese)

https://openmldb.ai/docs/zh/main/developer/built_in_function_develop_guide.html

[2022-06-14 05:54] lumianph opened #1961 "feat: the new aggregate function `std`"
You may follow the built-in aggregate function development doc (Chinese)

https://openmldb.ai/docs/zh/main/developer/built_in_function_develop_guide.html

[2022-06-14 06:13] #1723 closed, assigned to aceforeverd

[2022-06-14 07:01] tobegit3hub opened #1962 "Remove the code of setting LANG and LC_ALL in TaskManager"
Now we do not need to set `LANG` and `LC_ALL` in TaskManager, which was previously used to avoid the bug of brpc error code in Chinese (the bug has been fixed).

Here is the source code in `SparkJobManager.scala` which can be removed now.

https://github.com/4paradigm/OpenMLDB/blob/06255ca9620adf0e0033411984081dab6906a79f/java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager

[2022-06-14 07:16] #1947 closed, assigned to dl239

[2022-06-14 09:23] #1787 closed, assigned to aceforeverd

[2022-06-14 12:28] #1940 closed, assigned to mangoGoForward

[2022-06-14 16:06] #768 closed, assigned to tobegit3hub, dl239, aceforeverd

[2022-06-15 01:30] aceforeverd commented on #794
libwind already upgrade to 1.5.0

[2022-06-15 07:01] lumianph commented on #1797
![](https://github.trello.services/images/mini-trello-icon.png) [the talking data demo](https://trello.com/c/xSeVkLLX/101-the-talking-data-demo)

[2022-06-15 07:45] vagetablechicken commented on #1797
I'll use sklearn style `XGBClassifier` to rewrite the training part, so that the result will be like
![image](https://user-images.githubusercontent.com/24697960/173771632-bcbb0c20-39f4-42d4-96c4-dfd9f470a08c.png)

returns 0/1, not float

And the sample data `train_sample.csv` has no label 1, label 0 rows are so many, so I'll make a new sample(random select) and contains some label 1 rows.

[2022-06-15 08:34] #1941 closed, assigned to nobody

[2022-06-15 12:13] tobegit3hub opened #1966 "Fix the scala style errors of OpenMLDB Spark"
Now we have some scala style error in project https://github.com/4paradigm/spark .

<img width="1792" alt="Screen Shot 2022-06-15 at 19 49 28" src="https://user-images.githubusercontent.com/2715000/173823879-857d34e5-8fa1-43b8-b123-f8e95de0c32e.png">

[2022-06-16 07:15] aceforeverd commented on #1894
Unresolved. we need add a job in `cicd.yaml` runs on macos, that compile and release artifacts of macos. The `macos-build` job in hybridse-ci is not relevant

[2022-06-16 09:15] tobegit3hub commented on #336
Since it requires extra off-heap memory of Spark jobs, it may be enabled by users instead of by default.

[2022-06-16 09:15] #336 closed, assigned to tobegit3hub

[2022-06-16 09:16] tobegit3hub commented on #413
It is the feature of OpenMLDB Spark distribution in https://github.com/4paradigm/spark .

[2022-06-16 09:17] #702 closed, assigned to tobegit3hub

[2022-06-16 09:23] #1793 closed, assigned to ZtXavier

[2022-06-16 09:25] aceforeverd opened #1969 "feat: add cloud native docker image and compose example"
**Describe the feature you'd like**

we'd like to make a new `openmldb-server` docker image, that just runs openmldb as a component. By offering different arguments into the docker from `docker run`, the server can act as component like tablet, nameserver, apiserver or taskmanager.
Meanwhile, based on the `openmldb-server` image, we can provide docker-compose example for cluster environment or sta

[2022-06-16 09:32] aceforeverd opened #1970 "feat: add test and coverage test for openmldb-exporter"
**Describe the feature you'd like**

[openmldb-exporter](https://github.com/4paradigm/OpenMLDB/tree/main/monitoring) is the prometheus exporter for OpenMLDB. It lacks unit tests and coverage reports

**Additional context**

Add any other context or screenshots about the feature request here.

[2022-06-16 09:38] aceforeverd opened #1971 "test: add coverage report for python sdk"
**Describe the feature you'd like**

The [python sdk](https://github.com/4paradigm/OpenMLDB/tree/main/python) has unit tests already, but do not have the facility to produce coverage report based on that.

Mainly two tasks:

-  [ ] find a coverage library that can produce coverage report and add to the python sdk project
-  [ ] use the `codecov-action` to upload coverage results in `.github/workfl

[2022-06-16 13:13] dl239 opened #1974 "Remove `Count` function from tablet client"
`Count` function with `ts_name` is unused now. We should delete it from src/client/tablet_client.h and src/client/tablet_client.cc
- delete declaration in [header file](https://github.com/4paradigm/OpenMLDB/blob/main/src/client/tablet_client.h#L101)
- delete the implement in [tablet_client.cc](https://github.com/4paradigm/OpenMLDB/blob/main/src/client/tablet_client.cc#L782)
- do not pass `ts_name`

[2022-06-16 13:34] dl239 opened #1975 "Cleanup unused including in sql_cmd.h"
Delete the following include in src/cmd/sql_cmd.h
- `#include <algorithm>`
- `#include <fstream>`
- `#include <iostream>`
- `#include "boost/regex.hpp"`

note that `src/cmd/sql_cmd_test.cc` may compile failed, please add `#include <fstream>` to this file

[2022-06-16 20:20] TAldridgeAO commented on #1974
I can handle this.

[2022-06-17 01:13] zhanghaohit opened #1977 "rename typo `kPhysicalOpAggrerate` to `kPhysicalOpAggregate`"
**Describe the feature you'd like**

- rename `kPhysicalOpAggrerate` to `kPhysicalOpAggregate` in `hybridse/include/vm/physical_op.h` and `hybridse/include/vm/physical_op.cc`
- rename `"AGGRERATE"` to `"AGGREGATE"` in `hybridse/include/vm/physical_op.cc`

[2022-06-17 01:52] dl239 commented on #1974
@0sirusD3m0n have assigned to you, looking forward your pr. thanks

[2022-06-17 02:00] dl239 opened #1978 "`sql_sdk_test` may coredump in cicd"
<img width="739" alt="WX20220617-095606@2x" src="https://user-images.githubusercontent.com/6183996/174207421-cd50639f-bc94-4e4f-8ec8-2ddc1d6ccc5a.png">

https://github.com/4paradigm/OpenMLDB/runs/6923272679?check_suite_focus=true

[2022-06-17 04:01] #1975 closed, assigned to nobody

[2022-06-17 04:02] #1910 closed, assigned to frazie

[2022-06-17 04:02] #515 closed, assigned to vagetablechicken

[2022-06-17 05:03] aceforeverd commented on #1927
function like `max/min` reuse the single count variable to indicate if the `max/min`s should output `NULL` when there is no columns or all columns is null. However, different columns have different null value distribution.
https://github.com/4paradigm/OpenMLDB/blob/462f252a69497b11812ed96a58b5db58c5b5a368/hybridse/src/codegen/aggregate_ir_builder.cc#L461
So the count variable should be list of cou

[2022-06-17 06:12] vagetablechicken commented on #358
ut sanitizer check on 74217a9a2b3b9d05e15a8b247774bb03758198fb
`make SQL_PYSDK_ENABLE=OFF SQL_JAVASDK_ENABLE=OFF TESTING_ENABLE=ON SANITIZER_ENABLE=ON CMAKE_BUILD_TYPE=Debug`
only check ut in src/, no hybridse.

apiserver/ test needs zk, 1 address error
base/ test 2 leak errors
catalog/ test 3 leak errors
client/ no test
cmd/ test needs zk, 2 address errors
codec/ test 3 leak errors, 1 address err

[2022-06-17 06:35] dl239 opened #1979 "Use int value to record string length instead of Map in `InsertPreparedStatementImpl `"
Use int value to record string length instead of Map in [`InsertPreparedStatementImpl `](https://github.com/4paradigm/OpenMLDB/blob/main/java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java#L55)

[2022-06-17 06:43] dl239 opened #1980 "Delete `enable_show_tp` from flags.cc"
`enable_show_tp` is unused now. It need to  from src/flags.cc

[2022-06-17 06:46] aceforeverd opened #1981 "remove `hybridse/images`"
the file https://github.com/4paradigm/openmldb/blob/main/hybridse/images/HybridSE.png is out-of-date and not used, just remove  it.

[2022-06-17 07:17] dl239 opened #1985 "Remove unnecessary declaration in nameserver/name_server_impl.h"
The below declaration is unnecessary, please delete it
https://github.com/4paradigm/OpenMLDB/blob/main/src/nameserver/name_server_impl.h#L123-L124

[2022-06-17 07:32] dl239 opened #1986 "Delete unused files"
Delete unused files:
- src/base/count_down_latch.h
- src/base/count_down_latch_test.cc

remove the including from [src/storage/mem_table_snapshot.cc](https://github.com/4paradigm/OpenMLDB/blob/main/src/storage/mem_table_snapshot.cc#L29)

[2022-06-17 07:49] dl239 opened #1987 "Move the implement of function from src/catalog/tablet_catalog.h to src/catalog/tablet_catalog.cc"
Please move the implement of following functions in `TabletSegmentHandler` class to src/catalog/tablet_catalog.cc in
- GetIterator
- GetRawIterator
- GetCount

[2022-06-17 07:57] dl239 opened #1988 "Remove unnecessary declaration in src/sdk/mini_cluster_bm.cc"
Remove the following declaration in src/sdk/mini_cluster_bm.cc
- `DECLARE_bool(enable_distsql)`
- `DECLARE_bool(enable_localtablet)`
- `typedef ::google::protobuf::RepeatedPtrField<::openmldb::common::ColumnKey> RtiDBIndex`

[2022-06-17 07:59] dl239 opened #1989 "Rename `RtiDBIndex` to `PBIndex` in src/catalog/sdk_catalog_test.cc"
Rename `RtiDBIndex` to `PBIndex` in src/catalog/sdk_catalog_test.cc

[2022-06-17 08:30] dl239 opened #1990 "Startup OpenMLDB without `mon`"
- startup OpenMLDB without `mon`
- check healthy

[2022-06-17 08:51] dl239 opened #1991 "Add license to tools/install.sh"
Add license to tools/install.sh.

refer https://github.com/4paradigm/OpenMLDB/blob/main/tools/analysis.sh

[2022-06-17 09:10] dl239 opened #1992 "Remove `PackValue` and `Convert` functions from src/codec/field_codec.h"
- remove `PackValue` and `Convert` functions from src/codec/field_codec.h
- remove GetXXX functions from src/codec/field_codec.h
- remote `#include "codec/memcomparable_format.h"`  from src/codec/field_codec.h

delete the following files:
- src/codec/memcomparable_format.h
- src/codec/memcomparable_format_test.cc
- src/codec/field_codec_test.cc

[2022-06-17 10:37] tobegit3hub opened #1993 "Fail to load SQL file for BatchJob in yarn-cluster mode"
We get file not found exception for yarn-cluster mode.

<img width="1601" alt="image" src="https://user-images.githubusercontent.com/2715000/174282392-83cbe005-1fae-4b80-a11a-73a6f94993e5.png">

[2022-06-18 08:47] frazie commented on #1988
hello, I would like to work on this task.
Kindly assign it to me.

[2022-06-18 08:47] frazie commented on #1992
hello, I would like to work on this task.
Kindly assign it to me.

[2022-06-18 08:48] frazie commented on #1989
hello, I would like to work on this task.
Kindly assign it to me.

[2022-06-18 08:48] frazie commented on #1980
hello, I would like to work on this task.
Kindly assign it to me.

[2022-06-18 08:48] frazie commented on #1985
hello, I would like to work on this task.
Kindly assign it to me.

[2022-06-19 08:16] dl239 commented on #1989
have assigned to you, thank you

[2022-06-19 08:20] dl239 commented on #1992
assigned to you, looking forward your pr

[2022-06-19 09:35] #1977 closed, assigned to nobody

[2022-06-19 20:55] harshlancer commented on #1962
I'd like to contribute to this issue, please allow me to and guide me.

[2022-06-20 01:36] mangoGoForward commented on #1987
[WeOpen Star]I would like to help

[2022-06-20 01:46] #1986 closed, assigned to nobody

[2022-06-20 02:23] #1989 closed, assigned to frazie

[2022-06-20 02:25] #1991 closed, assigned to nobody

[2022-06-20 02:25] dl239 opened #2001 "Refactor `SQLRequestRowBatch`"
There are two sub-tasks:
- `SQLRequestRowBatch` copies string multiple times in the `AddRow` function. It's better to use `RefCountedSlice` rather than `String`.
- Extract  a separate encode function from `RowSelector::Select`

[2022-06-20 02:32] dl239 opened #2002 "Support executing sql in `APIServer`"
Currently, our Java and Python SDK are able to call the API to execute any `SELECT` and `ISNERT` SQL statements. However, the APIServer cannot support such an API. We need to make the APIServer to support this functionality.
1. The related code of APIServer you need to update is `xxx`
2. The underlying C++ API to support executing a SQL is `xxx`

[2022-06-20 02:37] dl239 opened #2003 "Complete the HA test cases porting"
We have sufficient HA test cases before the open-source. However, some of cases might be out-of-date. We need to update corresponding APIs to migrate those cases to OpenMLDB repo.

**Note that, if you wish to contribute to this very important task, please shoot an email to openmldb-developers@googlegroups.com, we will transfer the previous test cases to you to get you started.**

[2022-06-20 02:45] dl239 commented on #1987
have assigned to you, thank you @mangoGoForward

[2022-06-20 02:49] lumianph commented on #1320
this issue is still open right now, contributions are welcome

[2022-06-20 03:04] lumianph commented on #1947
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.6.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-06x)

[2022-06-20 03:06] aceforeverd commented on #1978
looks like some error happened during test teardown

[2022-06-20 03:17] lumianph commented on #1993
![](https://github.trello.services/images/mini-trello-icon.png) [High-priority Bugs (0.6.x)](https://trello.com/c/iGid67sw/70-high-priority-bugs-06x)

[2022-06-20 05:08] TAldridgeAO commented on #1979
I'll take a look at this one tomorrow.